
<div class="news-item">
    <div class="news-img">{{#link-to "post" post}}<img src={{post.image}} alt={{post.title}} >{{/link-to}}</div>
    <div class="news-text">
        <time class="date">
            <p>{{post.date}}</p>
        </time>
        <h4 class="news-title">{{post.title}}</h4>
        <p class="news">{{post.body}}</p>
        {{#link-to "post" post class="more icon-more"}}Читать{{/link-to}}
    </div>
</div>

{{yield}}
