<h2>{{rental.title}}</h2>
<p>Owner: {{rental.owner}}</p>
<p>Type: {{rental-property-type rental.type}} - {{rental.type}}</p>
<p>Location: {{rental.city}}</p>
<p>Number of bedrooms: {{rental.bedrooms}}</p>
{{#if isImageShowing }}
    <p><img src={{rental.image}} alt={{rental.type}} width="500px"></p>
    <button {{action "imageHide"}}>Hide image</button>
{{else}}
    <button {{action "imageShow"}}>Show image</button>
{{/if}}

{{yield}}
