#modal-area {

  .modal-dialog.modal-lg {
   @include sm{
     width: 768px;
   }

    @include md {
      width: 940px;
      //width: 100%;
    }

    @include media-custom(1200px) {
      width: 1140px;
      //width: 100%;
    }
  }


  .modal-header {
    padding: 3rem 2rem 0 3rem;
    border-bottom: none;
  }
  .modal-title {
    font-family: $font-family-bold;
    font-size: $font-size-8;
    line-height: $line-height-4+0.3rem;
    font-weight: 600;
    color: $gray;
    text-align: center;
  }

.modal-body{
  padding: rem(15) 0;
}


  .area-list {
    margin: 0;
    padding: 0 1rem;
    @include clearfix;

    .group-tilte {
      padding: 1rem 0;
      display: inline-block;
      label {
        font-family: $font-family-bold;
        font-weight: bold;
        color: $gray;

      }

      input[type="checkbox"] {
        &:checked + label {
          color: $primary-snow;
        }
      }
    }

    > li {

      @include sm {
        display: inline-block;
      }

    }
    @include sm {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      padding: 0;
    }
    @include md {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
      padding: 0;
    }
    @include lg {
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4;
      padding: 0;
    }
  }

  .modal-footer {
    @include clearfix;
    text-align: center;

    .btn-filter-danger {
      margin: 0 0 1rem 0;
      display: block;

      @include media-custom(480px) {
        float: left;
        margin: 0;
      }

    }
    .button-warning {
      border-radius: $border-radius-base;
      display: block;
      border: none;
      width: 100%;

      @include media-custom(480px) {
        float: right;
        width: auto;
      }
    }

  }

}

#tab-area{
  padding:rem(15);
}

//Metro map

.metro-map {
  padding:rem(15);
  text-align: left;

  @include media-custom(480px) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

  }

  @include sm{
    background: url(/images/map-metro.png) no-repeat;
    position: relative;
    height: 494px;
    width: 752px;
    margin: 2rem auto;
  }


}

label.checkbox-metro {
  display: block;
  font-size: 11px;
  line-height: 1.1;
  cursor: pointer;


  @include sm{
    position: absolute;
    text-align: center;
  }

  input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"] ~ span {
    font-family:$font-family-semibold;
    padding: 0 rem(5);

  }

  input[type="checkbox"]:checked ~ span {

  }
}

.red-line{
  input[type="checkbox"] ~ span {
    color: $modal-metro-red;

    @include sm{
      color: #bcbcbc;
    }

  }

   input[type="checkbox"]:checked ~ span {
     background: $modal-metro-red;
     color: $primary-snow;
   }
 }
.green-line{
  input[type="checkbox"] ~ span {
    color: $modal-metro-green;

    @include sm{
      color: #bcbcbc;
    }

  }

  input[type="checkbox"]:checked ~ span {
    background: $modal-metro-green;
    color: $primary-snow;
  }
}
.blue-line{
  input[type="checkbox"] ~ span {
    color: $modal-metro-blue;


    @include sm{
      color: #bcbcbc;
    }

  }

  input[type="checkbox"]:checked ~ span {
    background: $modal-metro-blue;
    color: $primary-snow;
  }

}