#modal-enroll-clinic {

  .modal-header {
    padding: 1rem;
    border-bottom: none;

    @include md {
      display: none;
    }
  }
  .modal-title {
    font-family: $font-family-semibold;
    font-size: $font-size-8;
    line-height: $line-height-4+0.3rem;
    font-weight: 600;
    color: $gray;
  }

  .modal-body {
    padding: 0;
  }

  .modal-content {
    @include md {
      border-radius: 0;
    }
  }

  .wrapp {
    @include clearfix;
  }

  .column-left {
    width: 100%;
    @include md {
      width: 50%;
      float: left;
    }

    .doctor-card {
      @include clearfix;
      padding: 2.167rem 1rem;
      font-size: $font-size-base;
      line-height: $line-height-base;

      @include md {
        padding: 2.167rem 1.667rem;
      }

      //2column layout

      .wrapp {
        @include clearfix;

        //column left
        .img-block {
          float: left;
          width: 40%;
          padding-right: 1rem;
          @include sm{
            padding-right: 2rem;
          }

        }

        //column-right
        .text-holder {

          float: right;
          width: 60%;

        }

      }

      .location-holder {
        border-top: 1px dashed $gray-lighter;

      }

      //end layout

      .img-holder {
        width: 100%;
        display: inline-block;
        border-radius: $border-radius-base;
        overflow: hidden;
        position: relative;
        border: 1px solid $gray-lighter;

        img {
          width: 100%;
          height: 100%;
        }



      }

      .comments {

        padding: 1rem 0;

        @include lg-sm {

        }
        a {
          color: $primary;
          text-decoration: underline;

          &:hover,
          &:focus,
          &:active {
            color: $primary;
            text-decoration: none;
          }
        }
      }

      .title {
        padding: 0 0 0.5rem 0;
        a {
          color: $primary;
          text-decoration: none;
          font-family: $font-family-bold;
          font-weight: bold;
          font-size: $font-size-4;
          line-height: $line-height-1 + 0.3rem;
          position: relative;

          &:after {
            display: inline-block;
            font-family: $font-family-icomoon;
            content: $angle-right-icon;
            padding-left: 1rem;
            position: absolute;
            bottom: 0;

          }

          &:hover,
          &:focus,
          &:active {
            color: $primary;
            text-decoration: underline;
          }

        }
      }

      .info-holder {
        padding: 2rem 0 1rem 0;
        color: $gray;

        .category,
        .price{
          padding-bottom: 1rem;
        }

       .category{
         line-height:$line-height-1+0.3rem;
       }


        .price {


          .number {
            padding: 0 0.5rem 0 1rem;
            font-family: $font-family-bold;
            font-weight: bold;
            font-size: $font-size-8;
            line-height: $line-height-4;

          }

          .price-action {
            display: none;
          }

          &.action {
            position: relative;
            display: inline-block;
            .price-number {
              position: absolute;
              right: 2rem;
              top: -1.2rem;

              .number {
                padding: 0;
                font-family: $font-family-bold;
                font-weight: bold;
                font-size: $font-size-4;
                line-height: $line-height-1;

              }

              &:after {
                position: absolute;
                bottom: 0.5rem;
                right: 0;
                width: 100%;
                content: '';
                border-top: 1px solid $gray;

              }
            }
            .price-action {
              display: inline;
              color: $result-filter-color;
            }

          }

        }

      }

      .rating-block {
        text-align: center;


        padding: 2rem 0;

        .rating {
          display: inline-block;
        }
        .number {
          display: inline-block;
          padding-left: 1rem;
          color: $rating-text-color;
          font-size: $font-size-8;
          line-height: $line-height-4;
          font-weight: bold;
          font-family: $font-family-bold;
        }
      }

      .location-block {
        padding-top: 2.167rem;
        padding-left: 2.333rem;
        color: $gray-darkenen;

        .address {
          display: block;
          font-size: $font-size-4;
          line-height: $line-height-4;
          padding-bottom: 0.5rem;
          position: relative;
          color: $gray-darkenen;
          text-decoration: none;

          &:hover {
            color: $primary;
            text-decoration: underline;
          }

          &:before {
            font-size: $font-size-4;
            line-height: $line-height-1;
            position: absolute;
            left: -2.333rem;
            top: 0.2rem;
            font-family: $font-family-icomoon;
            display: inline-block;
            content: $place2-icon;
          }
        }

        .metro {
          padding-left: 3.5rem;
          position: relative;
          line-height: $line-height-4;

          &:before {
            position: absolute;
            left: 1rem;
            top: 0.2rem;
            display: block;
            width: 18px;
            height: 17px;
            font-family: $font-family-icomoon;
            border-radius: $border-radius-xs;
            color: $primary-snow;
            content: '';
            background: url(/images/metro-icon.png) center no-repeat;

          }

          &.red {
            &:before {
              background-position: 0 0;
            }
          }

          &.green {
            &:before {
              background-position: -20px 0;
            }
          }

          &.blue {
            &:before {
              background-position: -40px 0;
            }
          }
        }
      }
    }
  }

  .column-right {
    width: 100%;
    padding: 0 1.5rem 2rem 1.5rem;


    @include md {
      width: 50%;
      float: right;
      padding: 0 1.5rem 2rem 2.5rem;


    }

    .title {
      padding: 2rem 0;
      font-family: $font-family-semibold;
      font-size: $font-size-4 + 0.5rem;
      line-height: $line-height-1 + 0.8rem;
      font-weight: 600;
      color: $gray;

      .subtitle {
        font-family: $font-family-base;
        font-weight: normal;
        padding-left: 1rem;
      }
    }

    .input-block {
      &-user,
      &-phone,
      &-comment {
        display: block;
        margin: 0 0 1rem;
      }
    }

    .btn-wrapp {
      @include clearfix;
      padding-top: 1.5rem;

      .button-default {
        float: left;
      }
      .button-success {
        float: right;
        padding: 1.336rem 2.1667rem;
        border: none;
      }
    }
  }
}
