.modal-dialog{
  margin-top: 6rem;
}

#modal-alert {
  .modal-dialog {
    margin: 0;
    width: 100%;
    background: $global-color;

    .success,
    .danger {
      padding: 2rem 0;
      font-size: $font-size-base;
      line-height: rem(24)/$font-size-base;

    }

    .success{
      color: $primary;
    }
    .danger{
      color: $btn-filter-danger-color;
    }
  }
}