#modal-specialist{
  .modal-header{
    padding: 3rem 2rem 0 3rem;
    border-bottom: none;
  }
  .modal-title {
    font-family: $font-family-bold;
    font-size:$font-size-8;
    line-height: $line-height-4+0.3rem;
    font-weight: 600;
    color: $gray;
    text-align: center;
  }
  .links-list {
    @include clearfix;
    padding-bottom: 3rem;
    text-align: left;

    .links {
      margin: 0;
      padding: 0 1rem;



      @include sm{
        -moz-column-count:3;
        -webkit-column-count:3;
        column-count: 3;
        padding: 0;
      }
       @include md{
        -moz-column-count:4;
        -webkit-column-count:4;
        column-count: 4;
        padding: 0;
      }



      .item-link {

        display: block;
        padding-bottom: 1px;
        position: relative;
        //
        //@include sm {
        //  display: inline-block;
        //  width: 32%;
        //  text-align: left;
        //}
        //
        //@include md{
        //  width: 24%;
        //}


        //&:first-child {
        //  a {
        //    span {
        //      display: inline-block;
        //      &:first-letter {
        //        color: $primary;
        //        font-family: $font-family-bold;
        //        font-weight: bold;
        //      }
        //    }
        //  }
        //}
        a {
          border: 1px solid transparent;
          display: block;
          padding: 0.833rem 1.1667rem 0.833rem 2rem;
          color: $input-label-color;


          @include sm {
            display: inline-block;
          }

          .more {
            text-decoration: none;
          }

          .visit {
            color: $gray-lightenen;
            padding-left: 1rem;
            text-decoration: none;
          }

          &:before {
            display: none;
            font-family: $font-family-icomoon;
            content: $angle-right-icon;
            padding-right: 0.667rem;
            color: transparent;
            position: absolute;
            top: 50%;
            margin-top: -0.6rem;
            left: 1rem;

            @include sm {
              display: block;
            }
          }

          &:hover,
          &:focus,
          &:active {
            color: $primary;

          }

          &:hover {
            border-color: $primary;
            &:before {
              color: $primary
            }
            span {
              color: $primary;
            }
            .more {
              text-decoration: none;
            }
          }
        }



      }
    }
  }

  .modal-footer{
    @include clearfix;
    text-align: center;

    .btn-filter-danger{
      margin: 0 0 1rem 0;
      display: block;

      @include media-custom(480px){
        float: left;
        margin: 0;
      }

    }
    .button-warning{
      border-radius: $border-radius-base;
      display: block;

      @include media-custom(480px){
        float: right;
      }
    }

  }

}