
#modal-map {

  .modal-dialog.modal-lg {
    @include md {
      width: 940px;
    }

    @include media-custom(1200px) {
      width: 1140px;
    }
  }

  .modal-header {
    padding: 1rem;
    border-bottom: none;

    @include md {
      display: none;
    }
  }
  .modal-title {
    font-family: $font-family-semibold;
    font-size: $font-size-8;
    line-height: $line-height-4+0.3rem;
    font-weight: 600;
    color: $gray;
  }

  .modal-body {
    padding: 0;
  }

  .modal-content {
    @include md {
      border-radius: 0;
    }
  }

  .wrapp {
    @include clearfix;
  }

  .map-holder {
    width: 100%;
    height: 240px;
    display: none;

    &.active {
      display: block;
    }

    @include col-md(62%) {
      height: 490px;
      display: none;
      overflow: hidden;
    }

    img {
    }
  }

  .text-holder {
    width: 100%;
    //padding: 0 1.5rem 2rem 1rem;
    border-bottom: 1px dashed $gray-lighter;
    max-height: 490px;
    overflow: auto;

    @include col-md(38%, right) {
      max-height: 400px;
    }

    direction: rtl;

    .location-block {
      border: 4px solid transparent;
      cursor: pointer;
      direction: ltr;
      text-align: left;
      //border-bottom: 1px dashed $gray-lighter;
      //padding: 2rem 0;
      background: #f8feff;
      padding: rem(20) rem(16) rem(24);
      .address-holder {
        padding-left: rem(26);
        color: $gray-darkenen;

        .address {
          font-family: $font-family-semibold;
          font-weight: 600;
          font-size: $font-size-4;
          line-height: $line-height-4;
          padding-bottom: 0.5rem;
          position: relative;
          color: $gray;
          text-decoration: none;

          &:before {
            font-size: $font-size-4;
            line-height: $line-height-1;
            position: absolute;
            left: -2.333rem;
            top: 0.2rem;
            font-family: $font-family-icomoon;
            display: inline-block;
            content: $place2-icon;
          }

        }

        span {
          display: inline-block;
        }

        .metro {
          padding-left: 3.5rem;
          position: relative;
          line-height: $line-height-4;

          &:before {
            position: absolute;
            left: 1rem;
            top: 0.2rem;
            display: block;
            width: 18px;
            height: 17px;
            font-family: $font-family-icomoon;
            border-radius: $border-radius-xs;
            color: $primary-snow;
            content: '';
            background: url(/images/metro-icon.png) center no-repeat;

          }

          &.red {
            &:before {
              background-position: 0 0;
            }
          }

          &.green {
            &:before {
              background-position: -20px 0;
            }
          }

          &.blue {
            &:before {
              background-position: -40px 0;
            }
          }
        }
      }

      .enroll-block {
        padding: 1.5rem;
        background: $enroll-bg;
        text-align: center;

        .title {
          font-size: $font-size-8;
          line-height: $line-height-4;
          font-family: $font-family-semibold;
          font-weight: 600;
          color: $gray;
          padding-bottom: 0.5rem;
        }

        .subtitle {
          font-family: $font-family-semibold;
          font-weight: 600;
          color: $gray;
          padding-bottom: 2rem;
        }

        .enroll {
          width: 100%;

        }
      }
      &.active{
        border-color: $primary;
        background: #fff;
      }
      &:hover {
        background: #fff;
      }
    }
  }
}