#modal-doctors,
#modal-clinics{
  .modal-header{
    padding: 3rem 2rem 0 3rem;
    border-bottom: none;
  }
  .modal-title {
    font-family: $font-family-bold;
    font-weight: bold;
    color: $gray;
  }
  .links-holder {
    @include clearfix;
    padding-bottom: 3rem;
    text-align: left;

    .links {
      margin: 0;
      padding: 0 1rem;

      @include sm{
        text-align: center;
        padding: 0;
      }

      .item-link {

        display: block;
        padding-bottom: 1px;

        @include sm{
          display: inline-block;
          width: 100%;
          text-align: left;
        }

        a {
          border: 1px solid transparent;
          display: block;
          padding: 0.833rem 1.1667rem 0.833rem 0.667rem;

          @include sm{
            display: inline-block;
          }

          .more {
            text-decoration: underline;
          }

          .visit {
            color: $gray-lightenen;
            padding-left: 1rem;
            text-decoration: none;
          }

          &:before {
            display: none;
            font-family: $font-family-icomoon;
            content: $angle-right-icon;
            padding-right: 0.667rem;
            color: transparent;

            @include sm{
              display: inline-block;
            }
          }

          &:hover,
          &:focus,
          &:active {
            color: $primary;

          }

          &:hover {
            border-color: $primary;
            &:before {
              color: $primary
            }
            span {
              color: $primary;
            }
            .more {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

}