#modal-callback{
  .modal-header{
    padding: 1.667rem 0 0;
    border-bottom: none;
    text-align: center;
    font-family: $font-family-semibold;
    font-size: $font-size-4 + 0.4rem;
    line-height: $line-height-1+0.6rem;
    font-weight: 600;
    color: $gray;
  }
  .modal-title {

  }
  .subtitle{
    font-size:$font-size-4;
    line-height: $line-height-1 + 0.3rem;
    font-family: $font-family-base;
    font-weight: normal;
  }


  .modal-content{
    border-radius: 0;

  }

  .modal-body {
    padding: 1.5rem 1.5rem 2rem;

    .input-block-phone {
      display: block;
      margin: 0;
    }

    .btn-wrapp {
      @include clearfix;
      padding-top: 1.5rem;

      .button-default {
        float: left;
        padding: 1.336rem;
      }
      .button-success {
        float: right;
        padding: 1.336rem;
        border: none;
      }
    }
  }
}