//
// Checkboxes & radio
// --------------------------------------------------
/*

Checkboxes
==========

Radio and checkbox

    <div class="checkbox">
        <input type="checkbox" id="Checkbox" name="Checkbox" class="form-input">
        <label for="Checkbox">Checkbox</label>
    </div>

    <div class="radio">
        <input type="radio" id="Radio" name="Radio" class="form-input">
        <label for="Radio">Radio</label>
    </div>

*/

.checkbox,
.radio {
  @extend %checkbox-radio;
}

//Modal checkbox area

.checkbox-area {
  padding-bottom: 0.3rem;

  input[type="checkbox"],
  input[type="radio"]
  {
    display: none;
  }

  label{
    cursor: pointer;
    font-family: $font-family-base;
    border: 1px solid transparent;
    border-radius: $border-radius-lg;
    padding: 0.21rem 3rem 0.21rem 1rem;
    background: $global-color;
    color: $btn-filter-default-color;
    margin-bottom: 0;
    font-weight: normal;

    &:hover{
      text-decoration: underline;
  }

  }

  input[type="checkbox"],
  input[type="radio"] {
    &:checked + label {
      font-family: $font-family-base;
      border: 1px solid transparent;
      border-radius: $border-radius-lg;
      background: $btn-filter-primary-bg;
      color: $btn-filter-primary-color;
      position: relative;


      &:hover {
        background: $btn-filter-primary-bg-hover;
        color: $btn-filter-primary-color-hover;
        text-decoration: underline;
        &:after {
          text-decoration: none;
        }
      }

      &:focus,
      &:active,
      &:active:hover {
        background: $btn-filter-primary-bg-active;
        color: $btn-filter-primary-color-active;
      }

      &:after {
        position: absolute;
        font-family: $font-family-icomoon;
        content: $close-icon;
        display: inline-block;
        padding-left: 1rem;
        color: $btn-filter-primary-bg-active;
        will-change: transform;
        transform: translateY(-50%);
        top: 50%;
        right: 1rem;

      }
      &:hover:after {
        color: $btn-filter-primary-color-hover;
      }
      &:focus:after,
      &:active:after {
        color: $btn-filter-primary-bg;
      }

      &:focus::selection,
      &:active::selection {
        background: none;
      }

    }
  }
}
  .checkbox {
    label {
      &:before,
      &:after {
        top: 0;
        left: 0;
        @include square(15px);
        text-align: center;
      }

      &:before {
        border-radius: 0;
        background-color: $global-color;
        transition: border, color .15s ease-in-out;
      }

      &:after {
        padding-left: 0;
        font-size: 1rem;
        padding-top: 0.1rem;
        color: $global-color;
      }
    }

    input[type="checkbox"],
    input[type="radio"]
    {
      &:checked + label::before {
        background: $primary;
        border-color: $primary;
      }
      &:checked + label:after {
        font-family: $font-family-icomoon;
        content: $check-icon;
        //background: url(.//images/checkbox-icon.png) no-repeat 50% 50%;
      }
      &:checked + label:hover::before {
        background: $primary;
        border-color: $primary;
      }
    }

    &.checkbox-circle label::before {
      border-radius: 50%;
    }

    &.checkbox-inline {
      margin-top: 0;
    }
  }

  .radio {
    label {
      &:before,
      &:after {
        @include round();
        background-color: $global-color;
      }

      &:before {
        top: 0.2rem;
        @include square(20px);
        left: 0;
        transition: border .15s ease-in-out;
      }

      &:after {
        @include square(0.84rem);
        top: 0.6rem;
        left: 0.4rem;
        background-color: $primary;
        transform: scale(0, 0);
        transition: transform .1s cubic-bezier(.8, -0.33, .2, 1.33);
      }
    }

    input[type="radio"] {
      &:checked + label {
        &:after {
          transform: scale(1, 1);
        }
        &:before {
          border-color: $primary;
        }
        &:hover {
          &:after {
            background: $primary;
          }
          &:before {
            border-color: $primary;
          }
        }

      }
    }
    &.radio-inline {
      margin-top: 0;
    }
  }