table {
  width: 100%;
  max-width: 100%;
  margin-bottom: rem(30);

  tr {
    &:first-child {
      background: $table-bg-accent;
      font-family:$font-family-semibold;
      font-weight: 600;
    }

    td {
      border: 1px solid $table-border-color;
      padding: rem(20) rem(16);
      text-align: left;

    }

  }
}
