.actions-list {
  .item {
    @include clearfix;
    padding: 2.167rem 0;
    font-size: $font-size-base;
    line-height: $line-height-base;

    @include md {
      padding: rem(28) rem(20);
    }

    &:first-child {
      margin-top: -2px;
    }

    &:last-child {
      border-bottom: 2px solid $gray-lighter;

      &:hover,
      &:focus,
      &:active {
        border-bottom-color: $primary;
      }
    }

    border-top: 2px solid $gray-lighter;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      border-top-color: $primary;
      background: $state-primary-bg;

      & + .item {
        border-top-color: $primary;
      }
    }



    //3column layout

    .wrapp {
      @include clearfix;

      //column left
      .img-block {
        float: left;
        width: 40%;
        padding-right: 1.667rem;

        @include md {
          width: 23%;
          padding-right:rem(30);
        }

      }
      //column center
      .info-wrapp {
        float: left;
        width: 100%;

        @include md {
          width: 48%;
        }

      }

      //column-right
      .terms-holder {
        padding-top: 1rem;
        float: left;
        width: 60%;

        @include md {
          padding-top: 0;
          float: right;
          width: 28%;
          text-align: center;
          padding-left:rem(30);
        }

      }
    }

    //end layout

    .img-block {
      text-align: center;

      .img-holder {
        width: 100%;
        display: inline-block;
        overflow: hidden;


        img {
          border: 1px solid $gray-lighter;
          border-radius: $border-radius-lg;
          max-width: 100%;
        }

      }

    }

    .item-title {
      padding: 0 0 0.5rem 0;
      color: $primary;
      text-decoration: none;
      font-family: $font-family-semibold;
      font-weight: 600;
      font-size: $font-size-4;
      line-height: $line-height-3/$font-size-4;
      display: inline;

      @include col-md(48%);

      //@include after-icon();

      a {

        &:hover,
        &:focus,
        &:active {
          color: $primary;
          text-decoration: underline;
        }

      }
    }

    .info-wrapp {
      @include clearfix;
      float: left;

      .info-holder {
        padding: rem(18) 0 rem(21) 0;
        color: $gray;

        .category,
        .item-name{

          position: relative;
          font-size:$font-size-2;
          line-height: $line-height-1;

        }

        .category {
          color: $secondary;
        }
        .item-name {
          font-family:$font-family-bold;
          font-weight: bold;
          padding-bottom: rem(5);
        }

      }
    }

    .description {
      color: $gray;
      font-size: $font-size-base;
      line-height: rem(20) / $font-size-base;

      .more {
        color: $primary;
        text-decoration: none;
        margin-left: 0.5rem;
        font-size: $font-size-base;
        line-height: $line-height-3 / $font-size-base;
        display: inline-block;
        @include after-icon();

        a{
          &:hover,
          &:focus,
          &:active {
            color: $primary;
            text-decoration: underline;
          }

        }

      }
    }

    .rating-block {
      padding-top:rem(15);

      @include lg-sm {
        text-align: center;
      }

      padding-bottom: 1rem;
      .rating {
        display: inline;

        li{
          &:last-child{
            padding-right:rem(10);
          }
        }
      }
      .number {

        display: inline-block;
        color: $rating-text-color;
        font-size: $font-size-8;
        line-height: $line-height-4;
        font-weight: bold;
        font-family: $font-family-bold;

        //@include media-custom(520px){
        //  padding-left: 2rem;
        //  display: inline-block;
        //}

      }

    }

    .comments {

      padding: 0 0 2rem 0;


      @include md{
        padding: 0;
      }

      @include lg-sm {
        text-align: center;
      }
      a {
        color: $primary;
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
          color: $primary;
          text-decoration: none;
        }
      }
    }


    .terms-holder {
      float: right;
      text-align: center;

      .date-holder{
        padding:rem(12) 0;
        border:1px dashed $primary;
        border-radius: $border-radius-base;
        margin-bottom:rem(17);
        color: $primary;
        font-size:$font-size-2;
        line-height:1.1;
        background: $primary-snow;

        .date{
          font-family:$font-family-bold;
          font-weight: bold;
        }
      }

      .price-holder{
        padding:rem(28) 0 rem(18);
        text-align: center;
        border:1px dashed $secondary-dark;
        border-radius: $border-radius-base;
        margin-bottom:rem(17);
        background: $primary-snow;
      }

      .price {
        position: relative;
        font-size: $font-size-2;
        line-height: $line-height-1;


        .number {
          padding: 0 0.5rem 0 1rem;
          font-family: $font-family-bold;
          font-weight: bold;
          font-size: $font-size-8;
          line-height: 1;

        }

        .price-action {
          display: none;
        }

        &.action {
          position: relative;
          display: inline-block;
          .price-number {
            position: absolute;
            right: 1rem;
            top: -0.7rem;

            .number {
              padding: 0;
              font-family: $font-family-bold;
              font-weight: bold;
              font-size: $font-size-4;
              line-height: $line-height-1;

            }

            &:after {
              position: absolute;
              bottom: 0.5rem;
              right: 0;
              width: 100%;
              content: '';
              border-top: 1px solid $gray;

            }
          }
          .price-action {
            display: inline;
            color: $result-filter-color;
            position: relative;
            top: 0.5rem;
          }

        }

      }





      .enroll {
        padding: 1.667rem 1rem;
        width: 100%;

      }
    }
  }



}