.diseases-list {
  @include clearfix;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: left;


  overflow: hidden;
  position: relative;
  will-change: max-height;
  transition: max-height 0.25s ease-out;

  .title {
    margin: 0;
    padding: 2.5rem 0;
    text-align: center;
    text-transform: uppercase;
    color: $gray;
    font-family: $font-family-bold;
    font-size: $font-size-8;
    line-height: $line-height-4;
    font-weight: bold;

    @include sm {
      padding: 5.167rem 0;
    }
  }


  .links {
    margin: 0;
    padding: 0 1rem;

    @include sm {
      //text-align: center;
      padding: 0;
    }

    .item-link {

      display: block;
      padding-bottom: 1px;
      position: relative;

      @include sm {
        display: inline-block;
        width: 33%;
        text-align: left;
      }

      @include md{
        width: 24%;
      }

      a {
        border: 1px solid transparent;
        display: block;
        padding: 0.833rem 1.1667rem 0.833rem 2rem;
        color: $input-label-color;


        @include sm {
          display: inline-block;
        }

        .more {
          text-decoration: none;
        }

        .visit {
          color: $gray-lightenen;
          padding-left: 1rem;
          text-decoration: none;
        }

        &:before {
          display: none;
          font-family: $font-family-icomoon;
          content: "\e0a7";

          font-size:rem(10);
          color: #a8d4db;
          position: absolute;
          top: 30%;
          //margin-top:-5px;

          will-change: transform;
          transform: translate( -50% );
          ////transform: translateY( 0);
          left: 1rem;

          @include sm {
            display: block;
          }
        }

        &:hover,
        &:focus,
        &:active {
          color: $primary;


        }

        &:hover {
          border-color: $primary;
          &:before {
            color: $primary;
            font-size:$font-size-base;
            content: $angle-right-icon;
          }
          span {
            color: $primary;
          }
          .more {
            text-decoration: none;
          }
        }
      }



    }
  }
}