#doctors-list {
  .item {
    @include clearfix;
    padding: 2.167rem 1rem;
    font-size: $font-size-base;
    line-height: $line-height-base;

    @include md {
      padding: 2.167rem 1.667rem;
    }

    &:first-child {
      margin-top: -2px;
    }

    &:last-child {
      border-bottom: 2px solid $gray-lighter;

      &:hover,
      &:focus,
      &:active {
        border-bottom-color: $primary;
      }
    }

    border-top: 2px solid $gray-lighter;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      border-top-color: $primary;
      background: $state-primary-bg;

      & + .item {
        border-top-color: $primary;
      }
    }

    //3column layout

    .wrapp {
      @include clearfix;

      //column left
      .img-block {
        float: left;
        width: 35%;
        padding-right: 1.1667rem;

        @include md {
          width: 20%;
          padding-right: 1.667rem;
        }

      }
      //column center
      .info-wrapp {
        float: left;
        width: 100%;
        padding-bottom: 2rem;

        @include sm {
          width: 65%;
          padding-bottom: 1rem;
        }

        @include md {
          width: 55%;
          padding-right: 1rem;

        }

      }

      //column-right
      .rating-holder {

        float: left;
        width: 65%;

        @include md {
          float: right;
          width: 25%;
          text-align: center;
        }

      }

      //right block
      .description {
        float: left;
        width: 100%;

        //@include sm {
        //  width: 65%;
        //}

        @include sm {
          width: 65%;
        }
        @include md {
          width: 80%;
        }
      }

    }
    .location-block {
      float: right;
      border-top: 1px dashed $gray-lighter;
      width: 100%;

      @include sm {

        width: 65%;
      }
      @include md {
        width: 80%;
      }
    }

    //end layout

    .img-block {

      .img-holder {
        width: 100%;
        display: inline-block;
        border-radius: $border-radius-base;
        overflow: hidden;
        border: 1px solid $gray-lighter;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .comments {

        padding: 1rem 0;
        text-align: center;

        @include lg-sm {

        }
        a {
          color: $primary;
          text-decoration: underline;

          &:hover,
          &:focus,
          &:active {
            color: $primary;
            text-decoration: none;
          }
        }
      }

    }

    .title {
      padding: 0 0 0.5rem 0;
      color: $primary;
      text-decoration: none;
      font-family: $font-family-bold;
      font-weight: bold;
      font-size: $font-size-6;
      line-height: $line-height-4 / $font-size-6;
      display: inline;

      @include after-icon();

      a {

        &:hover,
        &:focus,
        &:active {
          color: $primary;
          text-decoration: underline;
        }

      }
    }



    .info-wrapp {
      @include clearfix;
      float: left;

      .info-holder {
        padding: 2rem 0 1rem 0;
        color: $gray;

        .category,
        .experience,
        .price {
          position: relative;
          padding-left: 2.333rem;
          font-size:$font-size-2;
          line-height: $line-height-1;

          &:before {
            display: block;
            position: absolute;

            font-family: $font-family-icomoon;
            color: $gray-darkenen;
          }
        }

        .category {
          padding-bottom: 1rem;

          &:before {
            content: $doctor-icon;
            left: 0;
            top: -1px;
          }

        }

        .experience {

          &:before {
            content: $calendar-icon;
            left: 0;
            top: -1px;
          }
        }
        .price {
          &:before {
            content: $wallet-icon;
            left: 0;
            bottom: 2px;
          }

          .number {
            padding: 0 0.5rem 0 1rem;
            font-family: $font-family-bold;
            font-weight: bold;
            font-size: $font-size-8;
            line-height: $line-height-4;

          }

          .price-action {
            display: none;
          }

          &.action {
            position: relative;
            display: inline-block;
            .price-number {
              position: absolute;
              right: 1.5rem;
              top: -1.2rem;

              @include sm{
                position: relative;
                margin-left: 1rem;
                padding-left: 0.333rem;
                top: 0;
                right: 0;
              }

              .number {
                padding: 0;
                font-family: $font-family-bold;
                font-weight: bold;
                font-size: $font-size-4;
                line-height: $line-height-1;

              }

              &:after {
                position: absolute;
                bottom: 0.5rem;
                right: 0;
                width: 100%;
                content: '';
                border-top: 1px solid $gray;

                @include sm{
                  bottom: 0.7rem;
                }

              }
            }
            .price-action {
              display: inline;
              color: $result-filter-color;
            }

          }

        }

      }
    }

    .description {
      color: $gray;
      font-size: $font-size-base;
      line-height: $line-height-3 / $font-size-base;
      padding: 0 0 1.667rem 0;

      .more {
        color: $primary;
        text-decoration: none;
        margin-left: 0.5rem;
        font-size: $font-size-base;
        line-height: $line-height-3 / $font-size-base;
        display: inline-block;
        @include after-icon();

        a{
          &:hover,
          &:focus,
          &:active {
            color: $primary;
            text-decoration: underline;
          }



        }

      }
    }

    .rating-holder {
      float: right;
      padding-top: 1rem;

      .rating-block {
        padding-bottom: 1.5rem;

        @include lg-sm {
          text-align: center;
        }


        .rating {
          display: inline-block;
        }
        .number {
          display: inline-block;
          padding-left: 1rem;
          color: $rating-text-color;
          font-size: $font-size-8;
          line-height: $line-height-4;
          font-weight: bold;
          font-family: $font-family-bold;

        }

      }

      .enroll {
        width: 100%;
      }
    }
  }

  .location-block {
    padding-top: 1rem;
    padding-left: 2.333rem;
    color: $gray-darkenen;

    .address {
      display: block;
      font-size: $font-size-base;
      line-height: $line-height-4;
      padding-bottom: 0.5rem;
      position: relative;
      color: $gray-darkenen;
      text-decoration: none;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }

      &:before {
        font-size: $font-size-4;
        line-height: $line-height-1;
        position: absolute;
        left: -2.333rem;
        top: 0.2rem;
        font-family: $font-family-icomoon;
        display: inline-block;
        content: $place2-icon;
      }
    }

    .area{
      padding-right: 1rem;
    }

    .metro {
      padding: 0 1rem 0 2.5rem;
      position: relative;
      line-height: $line-height-4;

      &:before {
        position: absolute;
        left: 0;
        top: 0.2rem;
        display: block;
        width: 18px;
        height: 17px;
        font-family: $font-family-icomoon;
        border-radius: $border-radius-xs;
        color: $primary-snow;
        content: '';
        background: url(/images/metro-icon.png) center no-repeat;

      }

      &.red {
        &:before {
          background-position: 0 0;
        }
      }

      &.green {
        &:before {
          background-position: -20px 0;
        }
      }

      &.blue {
        &:before {
          background-position: -40px 0;
        }
      }
    }
  }



}
