.filter-holder {
  @include clearfix;
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 1rem;

  @include md{
    padding-bottom: 0;
  }

  .result {
    color: $result-filter-color;
  }

  .title-holder {
    padding-bottom: 2rem;

    .title{
      font-family:$font-family-bold;
      font-weight: bold;
      font-size:  $font-size-8;
      line-height: 1;
      padding: 1.667rem 0;
    }

    @include lg {
      float: left;
    }

    .btn-wrapp {
      @include clearfix;

      float: left;

      @include md {
        float: none;
      }
      .subtitle {
        color: $gray-darkenen;
        padding: 0.5rem 1rem 1rem 0;
        display: block;
        @include md {
          padding: 0.75rem 1rem 0 0;
          float: left;
        }

      }
      .item {
        display: block;
        padding-bottom: 1rem;
        @include md {
          float: left;
          padding-bottom: 0;
        }

        a {
          display: inline-block;
          position: relative;

          &.active {
            padding-left: rem(30);

            &:before {
              font-family: $font-family-icomoon;
              display: block;
              position: absolute;
              left: rem(15);
              bottom: rem(8);
            }

            &.arrow-up {
              &:before {
                content: $arrow-up-long-icon;
              }
            }
            &.arrow-down {
              &:before {
                content: $arrow-down-long-icon;
              }
            }
          }
        }

        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }


      }
    }

    .filter-control {
      text-align: center;

      float: right;

      @include md {
        display: none;
      }

      .btn-more {
        display: block;
        padding: 2rem 2rem;
        border-radius: $border-radius-base;
        border: 1px solid $state-primary-border;
        background: $state-primary-bg;
        color: $primary;
        @include state-box-shadow;

        &:after {
          display: block;
          font-family: $font-family-icomoon;
          font-size: $font-size-10;
          line-height: $line-height-7;
          text-align: center;
          padding: 1rem 0;
          content: $filter-icon;
        }

      }
      .clear {
        margin-top: 2rem;
        display: inline-block;
      }
    }
  }
  .checkbox-wrapp {
    clear: both;
    //padding: 0 0 1rem;
    
    @include md {
      clear: none;
    }

    @include lg {
      text-align: right;
      padding: 2rem 0 1rem;
    }


    .checkbox {
      display: inline-block;
      margin-left: 1rem;
    }
  }
}
