.callback-fixed{
  position:fixed;
  left:0;
  bottom:0;
  width:97px;
  height:98px;
  display:block;
  content:"";
  background:url(/images/callback-fixed.png) no-repeat;

  @include sm{
    display: none;
  }

  a{
    display:block;
    width:100%;
    height: 100%;
  }
}