.footer {

  padding: 2rem 0 1.5rem;
  background: $footer-bg;
  text-align: center;

  @include sm{
    margin-top: 1.5rem;
    text-align: left;
    padding: 3.8333rem 0 5.833rem;
  }

  .logo {

    display: inline-block;
    width: 13.25rem;
    height: 2.58333rem;
    background: url(/images/footer-logo.png) no-repeat;

    @include sm{
      float: left;
      margin-right: 2rem;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-indent: 9999px;
    }
  }

  .navbar {
    float: left;
    padding: 0.7rem 0 0 0;
    margin: 0;
    display: none;

    @include sm{
      display: block;
      width: 100%;
    }

    @include md{
      width: auto;
    }


    ul {
      list-style: none;

      li {
        display: inline-block;
        padding: 0 1.4rem;
        &:first-child {
          padding-left: 0;
        }
        a {
          color: $primary-snow;
          &:after {
            font-family: $font-family-icomoon;
            display: inline-block;
            padding-left: 1rem;
            content: $angle-right-icon;
          }
        }
      }
    }
  }

  .info-holder {

    .info{
      padding:3rem 0 2rem;
      color: $primary-snow;

      @include sm{
        padding:6rem 0 2rem;
      }

      .phone,
      .mail,
      .home{
        padding-right: 1rem;
        padding-bottom: 1rem;

        @include sm{
          display: inline-block;
          padding-bottom: 0;
        }
        &:before{
          font-family:$font-family-icomoon;
          display: inline-block;
          padding-right: 1rem;
          color: $footer-color;
        }
      }

      .phone{
        &:before{
          content: $phone-icon;
        }
      }

      .mail{
        &:before{
          content: $mail-icon;
        }
      }

      .home{
        &:before{
          content: $earth-icon;
        }
      }

      .address{
        padding-top: 1rem;
        color: $footer-color;

        display: none;
        @include sm{
          display: block;
        }

        &:before{
          font-family:$font-family-icomoon;
          display: inline-block;
          padding-right: 1rem;
          content: $place-icon;
        }
      }
    }
    .social{
      .google,
      .twitter,
      .fb,
      .vk{
        display: inline-block;
        width: 3.25rem;
        height: 3.25rem;
        border:1px solid $footer-color;
        color: $primary-snow;
        margin-right: 0.5rem;
        font-size:$font-size-4;
        position: relative;

        &:before{
          position: absolute;
          top: 50%;
          left: 50%;
          color: $primary-snow;
          font-family:$font-family-icomoon;
          display: inline-block;
          margin-top: -8px;
          margin-left: -7px;

        }
      }

      .google{
        &:before{
          content: $google-icon;
        }
      }

      .twitter{
        &:before{
          content: $twitter-icon;
        }
      }

      .fb{
        &:before{
          content: $fb-icon;
        }
      }

      .vk{
        margin-right: 0;
        &:before{
          content: $vk-icon;
          margin-left: -9px;
        }
      }
    }
  }
  .registration-holder{
    text-align: center;
    padding-top: 3rem;

    @include sm{
      max-width: 250px;
      float: right;
      text-align: right;
      padding-top: 0.833rem;
      //padding-top: 0;
    }
    .title{
      color: $footer-color;
      padding-bottom: 2rem;
      font-size:$font-size-5;
      line-height:$line-height-2;
    }
    .login,
    .registration{
      color: $primary-snow;

      &:before{
        color: $footer-color;
        font-family:$font-family-icomoon;
        display: inline-block;
        padding-right: 1rem;
      }
    }

    .login{
      padding-right: 2rem;
      &:before{
        content: $key-icon;
      }
    }

    .registration{
      &:before{
        content: $lock-icon;
      }
    }

    .description{
      padding-top: 2rem;
      color: $footer-color;
      font-size:$font-size-1;

      display: none;
      @include sm{
        display: block;
      }
    }
  }

  .new-info-block{
    display: none;
    @include md{
      display: block;
    }

    font-family:$font-family-base;
    color: $primary-snow;
    .block-title{
      font-size:rem(18);
      line-height:1;
      padding-bottom:rem(24);
    }

    .work{
      font-size: $font-size-base;
      padding-bottom:rem(18);
      display: inline-block;
    }
    .phone-row{
      display: inline-block;
      font-size: $font-size-base;
      line-height:1;

      &.first{
        padding-bottom: 0.5rem;
      }



      .first{
        padding-right:rem(21);
      }
    }

    .copy{
      display: inline-block;
      font-size:$font-size-base;
      line-height: rem(20)/$font-size-base;
      padding:rem(24) 0 rem(8);
    }
    .copy-description{
      font-size:rem(11);
      line-height:rem(18) / rem(11);
      color: #17c9e6;
    }


  }

}

.copyright-holder{
  padding:2.5rem 0 2rem;
  text-align: center;
  background: $copyright-bg;
  .copyright{
    color: $primary-snow;

  }
}