.page-title {
  margin: 0;
  padding: 2rem 0;
  font-family: $font-family-bold;
  font-weight: bold;
  color: $gray;
  font-size: $font-size-8;
  line-height: $line-height-4;
}

.description-holder {

  .description {
    font-size: $font-size-1;
    line-height: $line-height-3;
    color: $gray-base;
    padding-bottom: 1rem;
    .bold {
      font-family: $font-family-bold;
      color: $gray;
      font-weight: bold;
    }
  }
}

.description-block {
  font-size: $font-size-1;
  line-height: $line-height-3;
  padding: 2.5rem 0 1rem;
  display: none;

  @include sm{
    display: block;
  }


  .bold {
    font-family: $font-family-bold;
    font-weight: bold;
  }
}


.empty{
  padding:1.5rem 0;
}

.display-none{
  display: none !important;
}

//state
.state-primary {
  border: 1px solid $state-primary-border;
  padding: 1rem;
  color: $primary;
  background: $state-primary-bg;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-4;

  .title {
    display: inline-block;
    padding: 0 1rem 0 0;
    font-size: $font-size-base;
    line-height: $line-height-1;
    color: $primary;
  }
}
