.navbar-collapse {
  -webkit-box-shadow: 0px 30px 30px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 30px 30px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 30px 30px 0px rgba(50, 50, 50, 0.5);

  position: absolute;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 0;

  @include sm{
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    position: static;
  }

  &.in {
    overflow-y: visible; //reset bootstrap setting
  }
}

.navbar-right{

  @include sm{
    margin-right: 0;//reset bootstrap settings
  }

}
.navbar {
  padding: 1.5rem 0;

  @include sm{
    padding: 3.75rem 0 3.667rem;
  }

  margin-bottom:0;
  .navbar-brand {
    width: 200px;
    height: 36px;
    background: url(/images/logo.png) no-repeat;
    display: inline-block;
    padding: 0;
    margin: 0 1rem;

    @include sm{
      margin: 0 1rem 0 0;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-indent: 9999px;
    }
  }

  .navbar-toggle {
    margin: 0;
    .icon-bar {
      border-radius: 2px;
      height: 3px;
      background: $primary;
    }
  }

  .select-langs-block{

    .select2-container{
      width: 100% !important;
      text-align: center;

      .select2-selection__rendered {
        color: $gray-base;
        font-weight: 600;
        font-family: $font-family-semibold;


        &:before{
          @include sm {
            padding: 0 1rem 0 0;
            content: '|';
            color: $gray-lighter;
          }
        }
      }

      @include sm{
        text-align: left;
      }

    }
  }

  .select-place-block{
    width: 100% ;

    @include sm{
      max-width: 12.5rem;
      position: absolute;
      left: 0;
    }
    .select2-container{
      width: 100% !important;
      text-align: center;

      .select2-selection__rendered {
        color: $primary;
      }

      @include sm{
        text-align: left;
      }

    }

    .select2-selection__arrow{
      &:after{
        color:$navigation-color ;

        @include sm{
          color: $navigation-color-active;
        }
      }
    }
  }
  .select-phone-block {
    min-width: 185px;
    .select2-container{
      width: 100% !important;
      text-align: center;

      .select2-selection__rendered {
        color: $gray-base;
        font-weight: 600;
        font-family:$font-family-semibold;



      }

      @include sm{
        text-align: left;
      }

    }
    @include sm{
      float: left;
    }

  }

  .navigation{
    text-align: center;

    ul{
      margin: 0;
      li{
        display: block;
        a{
          display: block;
          padding: 1.333rem 0;
          border-bottom:1px solid $navigation-border-color;
          background: $navigation-bg;
          color: $navigation-color;

          &:hover,
          &:focus,
          &:active{
            color: $navigation-color-hover;
            background: $navigation-color-active;
          }

        }
      }
    }
    @include sm{
      display: none;
    }
  }

  .callback {
   
    a{
      display: block;
      padding: 1.333rem 0;
      text-align: center;
      color: $navigation-color-hover;
      background: $navigation-callback-bg;

      &:before {
        display: inline-block;
        font-family: $font-family-icomoon;
        content: $phone-icon;
        padding-right: 1rem;

      }

      &:hover,
      &:focus,
      &:active{
        text-decoration: none;
        color: $navigation-color-hover;
        background: $navigation-callback-bg;
      }
    }

    @include sm{
      margin-top: 1.1rem;
      margin-left: 1rem;
      float: left;

      a {
        padding: 0;
        color: $gray-base;
        text-decoration: underline;
        background: $global-color;
        &:hover,
        &:focus,
        &:active{
          color: $gray-base;
          text-decoration: none;
          background: $global-color;
        }

        &:before{
          display: none;
        }
      }
    }
  }
}





