.posts-list {
  .item {
    @include clearfix;
    padding: 2.167rem 1rem;
    font-size: $font-size-base;
    line-height: $line-height-base;

    @include md {
      padding: 2.167rem 1.667rem;
    }

    &:first-child {
      margin-top: -2px;
    }

    &:last-child {
      border-bottom: 2px solid $gray-lighter;

      &:hover,
      &:focus,
      &:active {
        border-bottom-color: $primary;
      }
    }

    border-top: 2px solid $gray-lighter;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      border-top-color: $primary;
      background: $state-primary-bg;

      & + .item {
        border-top-color: $primary;
      }
    }
  }
  //layout
  .img-holder{
    padding-bottom: 2rem;
    @include sm{
      width: 45%;
      float: left;
      padding-bottom: 0;
    }


  }

  .text-holder{
    @include sm{
      float: right;
      width: 55%;
      padding-left: 1.667rem;
    }

  }

  //end layout

  .img-holder{
    text-align: center;
    overflow: hidden;

    img{
      width: auto;
      height: 16rem;
    }

  }



  .text-holder {

    .item-title,
    h2 {
      padding-bottom:rem(20);
      a {
        border: none;
        font-family: $font-family-base;
        font-size: $font-size-4;
        line-height: $line-height-1 + 0.3rem;
        font-weight: 600;
        padding: 0 0 1.667rem;
        color: $post-title-color;
      }
      .date{
        font-size: $font-size-1;
        font-style: italic;
        color: $post-color;
      }
    }
    .description {
      padding-bottom: 1.667rem;
      font-size: $font-size-base;
      line-height: $line-height-4;
      color: $post-color;
    }
    .more {

      a {

        color: $primary-lightenen;
        text-decoration: none;
        text-align: center;

        &:hover,
        &:focus,
        &:active {
          color: $primary-lightenen;
          text-decoration: underline;
        }

        &:after {
          padding-left: 1rem;
          font-family: $font-family-icomoon;
          display: inline-block;
          content: $angle-right-icon;
        }
      }
    }
  }
}