#about {
  .content {
    padding: 0;
  }

  .title {
    margin: 0;
    padding: 2rem 0;
    font-family: $font-family-bold;
    font-weight: bold;
    color: $gray;
    font-size: $font-size-8;
    line-height: $line-height-4;
  }
  .bold {
    font-family: $font-family-bold;
    font-weight: bold;
    color: $gray;
  }
  .subtitle {
    font-family: $font-family-semibold;
    font-weight: 600;
    color: $gray;
    margin: 0;
    padding: 1rem 0 3rem;
    font-size: $font-size-5;
    line-height: $font-size-6 / $font-size-5;
  }

  .description-block {
    color: $gray;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-4;
  }
  .about-block {
    .title {
      text-align: center;
    }
    //layout
    .wrapp {
      @include clearfix;

      .column-left {
        .subtitle {
          text-align: center;
        }
        @include md {
          float: left;
          width: 50%;
          padding-right: 0.5rem;
          .subtitle {
            text-align: right;
          }
        }

      }

      .column-right {
        .subtitle {
          text-align: center;
        }
        @include md {
          float: right;
          width: 50%;
          padding-left: 0.5rem;

          .subtitle {
            text-align: left;
          }
        }

      }
    }
    //end layout

    .form-inline-search {
      @include clearfix;
      padding: 1.5rem 1.667rem;
      background: $primary-darken;

      //layout

      .column-left {
        padding: 0 0 1rem;
        @include sm {
          width: 40%;
          padding: 0 1rem 0 0;
          float: left;
        }
      }

      .column-center {
        padding: 0 0 1rem 0;
        @include sm {
          width: 40%;
          padding: 0 1rem 0 0;
          float: left;
        }
      }

      .column-right {

        @include sm {
          width: 20%;
          float: left;
          padding: 0;
        }
      }
      //end-layout

      .input-block-search {
        width: 100%;
        margin: 0;
      }
      .input-block-place {
        width: 100%;
        margin: 0;

      }
      .button-warning {
        padding: 1.25rem 0;
        text-align: center;
        border: 2px solid $primary-snow;
        width: 100%;
        margin: 0;

      }
    }

    .phone-block {
      @include clearfix;
      padding: 1.7rem 1.667rem;
      background: $phone-block-bg;

      .column-left {
        width: 100%;
        margin: 0 0 0.5rem 0;

        @include sm {
          //width: 55%;
          float: left;
          margin: 0;
        }
      }

      .column-right {
        width: 100%;
        margin: 0 0 0.5rem 0;

        @include sm {
          width: 45%;
          float: right;
          text-align: right;
        }
      }

      .btn-filter-warning{
        border: none;
      }

      .select-phone-block {
        width: 220px;
        margin: 0 auto;

        @include sm {
          margin: 0;
          width: auto;
        }
        .select2-container {

          text-align: center;
          width: 100% !important;

          .select2-selection__rendered {
            color: $gray-base;
            font-weight: 600;
            font-family: $font-family-semibold;

            .phone-item {
              img {
                border: 2px solid $primary-snow;
                border-radius: 4px;
                overflow: hidden;
              }
            }

          }

          @include sm {
            text-align: left;
          }

        }
        @include sm {
          float: right;
        }

        .select2-selection.select2-selection--single {
          background: $phone-block-bg;
          color: $primary-snow;
          border: none;

          .select2-selection__arrow {
            border: none !important;
          }

          .select2-selection__rendered {
            color: $primary-snow;
            border: none;
          }

        }

      }

    }
  }

  .about-info-holder {
    padding: 3rem 0 0;
    @include clearfix;
    position: relative;

    @include sm {
      padding-top: 12rem;
    }

    &:before {

      @include sm {
        display: block;
        width: 100%;
        content: '';
        height: 5rem;
        position: absolute;
        background: url(/images/flags.png) no-repeat center;
        top: 5rem;
        left: 0;
      }

    }

    .item {
      text-align: center;
      color: $gray;

      @include sm {
        padding-bottom: 0;
        padding-right: 2rem;
        width: 33.3%;
        float: left;
        text-align: left;
      }

      .description {

      }

      &:before {
        color: $primary;
        font-family: $font-family-icomoon;
        font-size: $font-size-10;
        line-height: $line-height-7;
        display: block;
        padding-bottom: 1rem;
      }

      &.enroll {

        padding-bottom: 3rem;
        &:before {
          content: $laptop-icon;
        }
      }
      &.confirm {

        padding-bottom: 3rem;
        &:before {
          content: $mail-icon;
        }
      }
      &.comments {
        &:before {
          content: $chat2-icon;
        }
      }
    }
  }

  .contact-block {
    .location {
      padding: 0 0 1.667rem 0;
      color: $gray-darkenen;
      padding-left: 2rem;
      position: relative;

      &:before {
        font-family: $font-family-icomoon;
        display: inline-block;
        content: $place2-icon;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .phone-block {
      ul {
        list-style: none;
        @include clearfix;

        li {
          display: inline-block;
          padding-left: 3rem;
          position: relative;
          margin: 0 3rem 2rem 0;

          &:before {
            display: inline-block;
            width: 23px;
            height: 22px;
            position: absolute;
            left: 0;
            top: -4px;
            content: '';
            background: url(/images/phone-icon.png) no-repeat;
          }

          &.mts {

            &:before {
              background-position: -85px 0;
            }
          }
          &.life {

            &:before {
              background-position: -56px 0;
            }
          }
          &.kievstar {

            &:before {
              background-position: -28px 0;
            }
          }
          &.other-phone {
            &:before {
              background-position: -113px 0;
            }
          }

        }
      }
    }
  }

  .command-block{
    @include clearfix;
    text-align: center;

    @include sm{
      text-align: left;
    }
    .item{
      float: left;
      margin:0 2rem 2rem 0;
      width: 6rem;
      text-align: center;

      @include sm{
        margin:0 4rem 3rem 0;
        width: 8rem;

      }

      .img-holder{
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        border:2px solid $primary-snow;
        img{
          width: 100%;
          height: auto;
        }
      }

      .text-holder{
        padding: 1rem 0;
        color: $gray-darkenen;

        .name{
          text-transform: uppercase;
          padding-bottom: 0.5rem;
        }
      }

      &.more{
        .img-holder {
          border-color: $gray-darkenen;
        }
      }
    }
  }

}
