#actions {
//Global layout
  @include clearfix;

  .content {
    padding: 0;
    @include col-md(75%);
  }

  .sidebar {
    display: none;

    @include col-md(21.23%) {
      margin-left: 3.77%;
    }
  }
  //End global layout

//Block settings
  .content{
    .filter-holder{
      padding: 0;
      border: none;

      @include sm{
        border-bottom: 1px solid $gray-lighter;
      }


      .title-holder{
        float: none;
        @include container;
        padding: 0;

        @include sm{
          padding: 0 0 rem(10);
        }

        .title{
          @include col-sm(70%);


        }
        .dropdown-filter{
          @include col-sm(auto, right){

          }

          .dropdown-button{
          }
        }
      }
    }
  }
}