#clinic {
  @include clearfix;

  .content {

    @include md{
      @include col(66%);
    }


    padding: 0;


  }

  //layout
  .title-block {
    @include clearfix;

      .img-holder {
        display: none;

        @include sm{
          @include col(10%);
          display: block;
        }
      }

      .text-holder {
        @include sm{
          @include col(90%);
        }

      }

  }
//end layout
  .title-block {
    padding: 2rem 0;
    .img-block {
      text-align: center;
      height:5rem;
      overflow: hidden;
      width: 100%;


      img {
        border-radius: $border-radius-base;
        border: 1px solid $gray-lighter;
        width: auto;
        max-width: 100%;
        height: 100%;



      }

    }

    .text-holder {
      padding-left: 1rem;
      .title {
        margin: 0;
        padding-bottom: 1rem;
        font-family: $font-family-bold;
        font-weight: bold;
        color: $gray;
        font-size: $font-size-8;
        line-height: $line-height-4;
      }
      .info-holder {
        color: $gray;

        .category {

          &:before {
            display: inline-block;
            padding-right: 1rem;
            font-family: $font-family-icomoon;
            color: $gray-darkenen;
            content: $medicine-icon;
          }
        }
      }
    }

  }



  .clinic-card {
    @include clearfix;
    padding-bottom: 2rem;
    // Doctor-card desktop layout
    &.desktop {
      @include clearfix;
      display: none;
      @include sm {
        display: block;
      }


      .wrapp {
        @include clearfix;

        .column-left {
          width: 60%;
          padding-right: 2rem;
          float: left;
        }

        .column-right {
          width: 40%;
          float: right;
          text-align: center;
        }

      }

      .description {
        padding: 2rem 0;
      }
      //End clinic-card desktop layout
    }

    //clinic-card mobile layout
    &.mobile {
      @include clearfix;
      display: block;
      @include sm {
        display: none;
      }

      .wrapp {
        @include clearfix;


        .column-left {
          width: 40%;
          float: left;

          .img-holder {
            text-align: center;
            height:9.5rem;
            overflow: hidden;
            width: 100%;


            img {
              border-radius: $border-radius-base;
              border: 1px solid $gray-lighter;
              width: auto;
              max-width: 100%;
              height: 100%;

            }
          }
        }



        .column-right {
          width: 60%;
          float: right;
          padding-left: 1rem;
        }
      }

    }

    //blocks style




    .enroll-block {
      margin: 1rem 0;
      @include sm{
        margin: 0;
      }
      padding: 2.5rem 1.5rem 1.5rem;
      background: $enroll-bg;
      text-align: center;

      .title {
        font-size: $font-size-8;
        line-height: $line-height-4;
        font-family: $font-family-semibold;
        font-weight: 600;
        color: $gray;
        padding-bottom: 0.5rem;
      }

      .subtitle {
        font-family: $font-family-semibold;
        font-weight: 600;
        color: $gray;
        padding-bottom: 2rem;
      }

      .enroll {
        padding: 1.667rem;
        width: 100%;



      }
    }


    .rating-block {
      padding: 1rem 0;
      .rating {
        display: inline-block;
      }
      .number {
        display: inline-block;
        padding-left: 2rem;
        color: $rating-text-color;
        font-size: $font-size-8;
        line-height: $line-height-4;
        font-weight: bold;
        font-family: $font-family-bold;

      }

    }

    .comments {
      display: none;
      @include sm{
        display: block;
      }

      padding: 0 0 2rem 0;

      @include lg-sm {
        text-align: center;
      }
      a {
        color: $primary;
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
          color: $primary;
          text-decoration: none;
        }
      }
    }

    .description {
      color: $gray;
      line-height: $line-height-4;
      padding: 2.167rem 0;

      .more {
        color: $primary;
        text-decoration: none;
        padding-left: 1rem;
        position: relative;

        &:after {
          display: inline-block;
          font-family: $font-family-icomoon;
          content: $angle-right-icon;
          padding-left: 0.5rem;
          position: absolute;
          top: 0;
        }

        &:hover,
        &:focus,
        &:active {
          color: $primary;
          text-decoration: underline;
        }

      }
    }

    .social {

      .twitter,
      .fb,
      .vk {
        display: inline-block;
        padding: 0.5rem 0.8rem;
        border: 1px solid $social-border-color;
        margin-right: 0.4rem;
        border-radius: $border-radius-base;
        text-align: center;
        text-decoration: none;

        &:before {
          font-family: $font-family-icomoon;
          padding-right: 0.5rem;
          display: inline-block;

          //@include md {
          //  padding-bottom: 0.5rem;
          //  padding-right: 0;
          //  display: block;
          //}

        }
      }

      .twitter {
        margin-right: 0;
        color: $twitt-color;
        &:before {
          content: $twitter-icon;
        }
      }

      .fb {
        color: $fb-color;
        &:before {
          content: $fb-icon;
        }
      }

      .vk {
        color: $vk-color;
        &:before {
          content: $vk-icon;
        }
      }
    }

    .location-block {
      position: relative;
      padding-left: 2.333rem;
      color: $gray-darkenen;

      @include md {
        display: none;
      }

      .address {
        display: block;
        font-size: $font-size-4;
        line-height: $line-height-4;
        color: $primary;

        text-decoration: underline;
        -moz-text-decoration-style: dashed;
        -webkit-text-decoration-style: dashed;
        text-decoration-style: dashed;

        &:hover {
          color: $primary;
          text-decoration: none;
          border-color: transparent;
        }

      }
      &:before {
        color: $gray-darkenen;
        font-size: $font-size-4;
        line-height: $line-height-1;
        padding-right: 1rem;
        font-family: $font-family-icomoon;
        display: inline-block;
        content: $place2-icon;
        position: absolute;
        left: 0;
        top: 0.3rem;
      }
    }

  }

  //Tabs block
  .tabs-block {
    padding-bottom: 1rem;


  }

  .sidebar {
    display: block;
    @include md {
      @include col(34%);
      padding: 0 0 0 1.667rem;
    }

    .special-block {
      display: none;

      @include md {
        display: block;
      }

      .title {
        padding: 2.176rem 0;
        font-family: $font-family-bold;
        font-weight: bold;
        font-size: $font-size-8;
        line-height: $line-height-4;
        color: $gray;
        border-top: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;
      }

      .clinics-list {
        @include clearfix;

        .item {
          @include clearfix;
          padding: 1.667rem;
          border-bottom: 1px solid $gray-lighter;

          .img-holder {
            width: 40%;
            float: left;
            position: relative;
            overflow: hidden;
            border-radius: $border-radius-lg;
            border:1px solid $gray-lighter;

            img {
              width: 100%;
              height: 100%;
            }


          }

          .text-holder {
            float: right;
            width: 60%;
            padding-left: 1.667rem;
            .title {
              border: none;
              font-family: $font-family-semibold;
              font-size: $font-size-4;
              line-height: $line-height-1 + 0.3rem;
              font-weight: 600;
              padding: 0 0 1.667rem;
              color: $primary-lightenen;
            }
            .description {
              padding-bottom: 1.667rem;
              font-size: $font-size-1;
              line-height: $line-height-1;
            }
            .more {

              a {

                color: $primary-lightenen;
                text-decoration: none;
                text-align: center;

                &:hover,
                &:focus,
                &:active {
                  color: $primary-lightenen;
                  text-decoration: underline;
                }

                &:after {
                  padding-left: 1rem;
                  font-family: $font-family-icomoon;
                  display: inline-block;
                  content: $angle-right-icon;
                }
              }
            }
          }
        }
      }
    }
    .enroll-block {
      margin: 1.667rem 0;
      padding: 2.5rem 1.5rem 1.5rem;
      background: $enroll-bg;
      text-align: center;

      .title {
        font-size: $font-size-8;
        line-height: $line-height-4;
        font-family: $font-family-semibold;
        font-weight: 600;
        color: $gray;
        padding-bottom: 0.5rem;
      }

      .subtitle {
        font-family: $font-family-semibold;
        font-weight: 600;
        color: $gray;
        padding-bottom: 2rem;
      }

      .enroll {
        width: 70%;

      }
    }
  }

}
