#sick {
  @include clearfix;
  .content {
    padding: 0;
    @include md{
      @include col(66%);
    }
  }


  .description-block {
    color: $gray;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-4;

    .title,
    h2 {
      padding: 1.5rem 0;
      margin: 0;
      font-family: $font-family-semibold;
      font-weight: 600;
      font-size: $font-size-5;
      line-height:$line-height-3 / $font-size-5;
    }
    .list,
    ul {
      list-style: disc;
      //margin: 0;
      padding-left: 1.5rem;
      li {
        padding-bottom: 0.5rem;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    img {
      padding: 1.5rem 1.5rem 0;
    }

  }



  //doctor list
  .doctor-list-wrapp{
    .list-title {
      margin: 0;
      padding: 2rem 0;
      font-family: $font-family-bold;
      font-weight: bold;
      color: $gray;
      font-size: $font-size-8;
      line-height: $line-height-4;
      border-bottom: 1px solid $gray-lighter;

      .result {
        color: $result-filter-color;
      }
      .description{
        color: $gray-darkenen;
        font-size: $font-size-1;
        line-height:$line-height-base;
      }
    }

    #doctors-list{
      .item{
        padding-bottom: 0;
        @include sm{
          padding:2.167rem 1rem;
        }
        .description{
          display: none;
          @include sm{
            display: block;
          }
        }
      }
      .location-holder{
        display: none;
        @include sm{
          display: block;
        }
      }
    }
  }


  .sidebar {
    display: block;
    @include md {
      padding: 2.167rem 0 0 1.667rem;
      @include col(34%);
    }



    .special-block {
      display: none;

      @include md {
        display: block;
      }




    }

  }

}
