#sicks {
  .title {
    margin: 0;
    padding: 2rem 0;
    font-family: $font-family-bold;
    font-weight: bold;
    color: $gray;
    font-size: $font-size-8;
    line-height: $line-height-4;
  }

  .pagination-block{
    text-align: left;
    margin: 0;
    @include sm{
      text-align: center;
    }
    .pagination-item{
      margin-right: 0.5rem;

      &.active{
        a{

          color: $primary-snow;
          background: $primary;

        }

      }

      @include xs{
        display: inline-block;
      }
      a {
        border: none;
        color: $primary;
        background: $global-color;
        padding: 0.7rem 0.8rem;
        text-transform: uppercase;
        font-family:$font-family-bold;
        font-weight: bold;
        width:auto;
        height:auto;
        line-height:$line-height-base;

        &:hover,
        &:focus,
        &:active
         {
          color: $primary-snow;
          background: $primary;
        }
      }
    }
  }



  .btn-wrapp{
    display: none;
    @include sm{
      display: block;
    }

    .question-item{
      display: inline-block;
      margin: 0.5rem;
    }
  }
}