#doctor {
  @include clearfix;

  .content {
    padding: 0;

    @include md {
      @include col(66%);
    }

  }

  .doctor-card {
    @include clearfix;

    padding: 2.167rem 0;

    .card-title {
      padding: 0;
      color: $gray;
      text-decoration: none;
      font-family: $font-family-bold;
      font-weight: bold;
      font-size: $font-size-8;
      line-height: $line-height-4 + 0.5rem;

    }

    .img-block {
      width: 100%;

      border-radius: $border-radius-base;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }

    }

    .enroll-block {
      @include sm {
        margin: 0;
      }

      padding: 2.5rem 1.5rem 1.5rem;
      background: $enroll-bg;
      text-align: center;

      .title {
        font-size: $font-size-8;
        line-height: $line-height-4;
        font-family: $font-family-semibold;
        font-weight: 600;
        color: $gray;
        padding-bottom: 0.5rem;
      }

      .subtitle {
        font-family: $font-family-semibold;
        font-weight: 600;
        color: $gray;
        padding-bottom: 2rem;
      }

      .enroll {
        padding: 1.667rem;
        width: 100%;

        //@include sm {
        //  width: auto;
        //}

      }
    }

    .info-block {
      padding: 2rem 0;
      color: $gray;

      @include sm {
        padding: 2rem 0 0;
      }

      .category,
      .experience,
      .price {
        position: relative;
        padding-left: 2.333rem;
        font-size: $font-size-2;
        line-height: $line-height-1;

        &:before {
          display: block;
          position: absolute;

          font-family: $font-family-icomoon;
          color: $gray-darkenen;
        }
      }

      .category {
        padding-bottom: 1rem;

        &:before {
          content: $doctor-icon;
          left: 0;
          top: -1px;
        }

      }

      .experience {

        &:before {
          content: $calendar-icon;
          left: 0;
          top: -1px;
        }
      }
      .price {
        &:before {
          content: $wallet-icon;
          left: 0;
          bottom: 2px;
        }

        .number {
          padding: 0 0.5rem 0 1rem;
          font-family: $font-family-bold;
          font-weight: bold;
          font-size: $font-size-10;
          line-height: $line-height-7;

        }

        .price-action {
          display: none;
        }

        &.action {
          position: relative;
          display: inline-block;
          .price-number {
            position: absolute;
            right: 2rem;
            top: -0.7rem;

            .number {
              padding: 0;
              font-family: $font-family-bold;
              font-weight: bold;
              font-size: $font-size-4;
              line-height: $line-height-1;

            }

            &:after {
              position: absolute;
              bottom: 0.5rem;
              right: 0;
              width: 100%;
              content: '';
              border-top: 1px solid $gray;

            }
          }
          .price-action {
            display: inline;
            color: $result-filter-color;
            position: relative;
            top: 0.5rem;
          }

        }

      }
    }

    .rating-block {
      padding-bottom: 1rem;
      .rating {
        display: inline-block;
      }
      .number {
        display: inline-block;
        padding-left: 2rem;
        color: $rating-text-color;
        font-size: $font-size-8;
        line-height: $line-height-4;
        font-weight: bold;
        font-family: $font-family-bold;

        @include sm {
          display: block;
          padding-left: 0;

        }
      }

    }

    .description {
      color: $gray;
      font-size: $font-size-2;
      line-height: $line-height-3;
      padding: 2rem 0;

      .more {
        color: $primary;
        text-decoration: none;
        padding-left: 1rem;
        position: relative;

        &:after {
          display: inline-block;
          font-family: $font-family-icomoon;
          content: $angle-right-icon;
          padding-left: 0.5rem;
          position: absolute;
          top: 0;
        }

        &:hover,
        &:focus,
        &:active {
          color: $primary;
          text-decoration: underline;
        }

      }
    }

    .social {

      .twitter,
      .fb,
      .vk {
        display: inline-block;
        padding: 0.5rem 0.8rem;
        min-width: 3.333rem;
        border: 1px solid $social-border-color;
        margin-right: 0.4rem;
        border-radius: $border-radius-base;
        text-align: center;
        text-decoration: none;
        font-size: $font-size-1;
        line-height: 1em;
        &:before {
          font-family: $font-family-icomoon;
          padding-right: 0.5rem;
          display: inline-block;

          @include sm {
            padding-bottom: 0.5rem;
            padding-right: 0;
            display: block;
          }

        }
      }

      .twitter {
        margin-right: 0;
        color: $twitt-color;
        &:before {
          content: $twitter-icon;
        }
      }

      .fb {
        color: $fb-color;
        &:before {
          content: $fb-icon;
        }
      }

      .vk {
        color: $vk-color;
        &:before {
          content: $vk-icon;
        }
      }
    }

    .location-block {
      position: relative;
      padding-top:1rem;
      padding-left: 2.333rem;
      color: $gray-darkenen;

      @include md {
        display: none;
      }

      .address {
        display: block;
        font-size: $font-size-4;
        line-height: $line-height-4;
        color: $primary;

        text-decoration: underline;
        -moz-text-decoration-style: dashed;
        -webkit-text-decoration-style: dashed;
        text-decoration-style: dashed;

        &:hover {
          color: $primary;
          text-decoration: none;
          border-color: transparent;
        }

      }
      &:before {
        color: $gray-darkenen;
        font-size: $font-size-4;
        line-height: $line-height-1;
        padding-right: 1rem;
        font-family: $font-family-icomoon;
        display: inline-block;
        content: $place2-icon;
        position: absolute;
        left: 0;
        top: 1.3rem;
      }
    }

    // Doctor-card desktop layout
    &.desktop {
      @include clearfix;
      display: none;
      @include sm {
        display: block;
      }

      .img-holder {
        width: 25%;
        float: left;
        text-align: center;

        .rating-block {
          padding: 1.5rem 0 1rem;
        }

      }
      .text-holder {
        width: 75%;
        float: right;
        padding-left: 1.5rem;

        .info-holder {
          @include clearfix;

          .column-left {
            float: left;
            width: 55%;
          }

          .column-right {
            float: right;
            width: 45%;
            padding-left: 1rem;
          }
        }
      }
    }

    //doctor-card mobile layout
    &.mobile {
      @include clearfix;
      display: block;
      @include sm {
        display: none;
      }

      .card-title {
        padding-bottom: 1.5rem;
      }

      .wrapp {
        @include clearfix;

        .column-left {
          width: 35%;
          float: left;
        }

        .column-right {
          width: 65%;
          float: right;
          padding-left: 1rem;
        }
      }

    }

  }

  .tabs-block {
    padding-bottom: 1rem;

  }

  .sidebar {
    padding: 0;
    display: block;

    @include md {
      padding: 2.167rem 0 0 1.667rem;
      @include col(34%);
    }



    .special-block {
      display: none;

      @include md {
        display: block;
      }



    }
  }
  .enroll-block {
    margin: 1.667rem 0;


    padding: 2.5rem 1.5rem 1.5rem;
    background: $enroll-bg;
    text-align: center;

    .title {
      font-size: $font-size-8;
      line-height: $line-height-4;
      font-family: $font-family-semibold;
      font-weight: 600;
      color: $gray;
      padding-bottom: 0.5rem;
    }

    .subtitle {
      font-family: $font-family-semibold;
      font-weight: 600;
      color: $gray;
      padding-bottom: 2rem;
    }

    .enroll {
      width: 70%;

    }
  }

}
