#doctors {


  .content {

    @include md{
      @include col(75%);
    }

    @include sm{
      padding: 0;
    }





    .pagination{

    }

  }

  .sidebar {
    display: none;
    @include md {
      display: block;
      padding-left: 3.333rem;
      padding-right: 0;

      @include col(25%);

    }



  }
}