#error {
  .content {
    padding: rem(58) 0 0;

    @include clearfix;
  }
  .section-title {
    padding: 0 0 rem(25);
    font-family: $font-family-semibold;
    font-weight: 600;
    font-size: $font-size-5;
    line-height: rem(20) / $font-size-5;
    color: $gray;
    border-bottom: 1px solid $gray-lighter;
  }

  .error-block,
  .doctors-block,
  .clinics-block {

    padding-bottom: rem(48);

    .special-block {
      padding-bottom: rem(28);
    }
  }

  .error-block {
    text-align: center;


    @include col-sm(100%){
      padding-left: rem(41);
      padding-right: rem(41);
    }
    @include col-md(33.3%);

    .img-holder {
      width: 100%;

      img {
        max-width: rem(300);
        width: 100%;
        height: auto;
      }
    }

    .text-holder {
      padding-top: 1.5rem;

      .title {
        font-size: $font-size-base;
        line-height: rem(24) / $font-size-base;
        padding-bottom: rem(30);
      }

      .back {
        width: 90%;
        margin: 0 auto;
        border-radius: $border-radius-base;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);

        .button-success {
          width: 100%;

        }
      }
    }
  }

  .doctors-block,
  .clinics-block {

    @include col-sm(50%);
    @include col-md(33.3%);

    .item {
      @include clearfix;

      &:last-child {
        border-bottom: none;
      }
      height: rem(216);

      .img-holder{
        width: 30%;
        text-align: center;

        img{
          max-width:rem(90);
        }
      }

      .text-holder {
        width: 70%;
        .description {
          max-height: rem(90);
          overflow: hidden;
        }

        .more {
          padding-top: 2rem;
        }

      }

    }

    .btn-reload {
      width: 100%;

      &:after{
        display: none;
      }

    }

  }
  .doctors-block {
    @include sm {
      padding-right: rem(10);
    }

  }
  .clinics-block {
    @include sm {
      padding-left: rem(10);
    }

  }

}