#home {

  .top-bar {
    padding: 3.75rem 0 2.667rem;
    .logo-holder {
      .logo {
        width: 16.583rem;
        height: 3rem;
        background: url(/images/logo.png) no-repeat;
        display: inline-block;
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .langs {
        margin: 0 0 0 1rem;
        display: none;
        @include sm {
          display: inline-block;
        }
      }
      .place {
        display: none;
        @include sm {
          display: block;
        }

      }
    }
    .info-holder {
      text-align: right;
      .phone {

        display: none;
        @include sm {
          display: inline-block;
        }

      }
      .callback {

        display: none;
        @include sm {
          display: inline-block;
        }
        a {
          color: $gray-base;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .search-holder {
    padding: 2rem 1.133rem;
    background: $primary;
    position: relative;

    margin: 0 -15px;

    @include sm {
      padding: 5.167rem 4.167rem 3.5rem;
      margin: 11.167rem 0 0;
      background: $primary url(/images/masc.png) no-repeat center;

    }

    &:before {
      top: -13.25rem;
      left: 0;
      position: absolute;
      content: '';
      height: 201px;
      width: 100%;
      background: url(/images/header-bg.png) no-repeat center 0;

      display: none;
      @include sm {
        display: block;
      }
    }

    .title-wrapp {
      padding-bottom: 1.6rem;

      .title{
        display: inline-block;
        margin: 0;
        color: $primary-snow;
        font-size: $font-size-8;
        line-height: $line-height-4;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
        font-family: $font-family-base;
        font-weight: normal;
        padding-right: 1.667rem;


      }

      .bold {
        font-family: $font-family-bold;
        font-weight: bold;
      }
      .normal {
        font-family: $font-family-base;
        font-weight: normal;
        padding-left: 0.5rem;
      }
      .semibold {
        font-family: $font-family-semibold;
        font-weight: 400;
        padding: 0 1.667rem 0 0.5rem;

      }

      #phone-container{
        display: inline-block;
        font-family: $font-family-bold;
        font-weight: bold;
        color: $primary-snow;
        font-size: $font-size-8;
        line-height: $line-height-4;

        @include sm{
          padding-top: 1rem;
        }

        @include md{
          padding-top: 0;
        }


        img{
          border:2px solid rgba(255,255,255,0.5);
          border-radius: $border-radius-xs;
          position: relative;
          top: -2px;
          margin-right:rem(5);
        }
      }

      display: none;
      @include sm {
        display: block;
      }
    }
    .video-btn {
      text-align: right;
      a {
        color: $primary-dark;
        line-height: $line-height-4;
        text-decoration: none;
        position: relative;
        padding-left: 3.5rem;
        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          font-family: $font-family-icomoon;
          font-size: $font-size-9;
          line-height: $line-height-6;
          content: $play-video-icon;

        }
      }

      display: none;
      @include sm {
        display: block;
      }
    }
    .form-inline {
      @include clearfix;
      padding: 1.5rem 1.667rem;
      @include sm {

        background: $primary-darken;
      }

      .input-block-search {
        width: 100%;
        margin: 0 0 0.5rem 0;

        @include sm {
          width: 57%;
          margin: 0 1% 0 0;
          float: left;
        }
      }
      .input-block-place {
        width: 100%;
        margin: 0 0 0.5rem 0;

        @include sm {
          width: 24%;
          margin: 0 1% 0 0;
          float: left;
        }

      }
      .button-warning {
        padding: 1.25rem 0;
        text-align: center;
        border: 2px solid $primary-snow;
        width: 100%;

        @include sm {
          width: 17%;
          float: right;
        }
      }
    }
  }
  .reviews-holder {
    padding: 3.167rem 0;
    .description {
      .item {
        text-align: center;
        position: relative;
        padding: 0 0 3.333rem;
        @include sm {
          text-align: left;
          padding: 0 0 3.333rem 4.167rem;
        }

        &:last-child {
          padding-bottom: 0;
        }

        .title {
          font-family: $font-family-semibold;
          font-size: $font-size-8;
          line-height: $line-height-4;
          color: $gray;
          padding: 0.5rem 0 1rem 0;
        }
        .text {
          font-size: $font-size-base;
          line-height: $font-size-6 / $font-size-base;
          color: $gray-light;
        }

        &:before {

          font-family: $font-family-icomoon;
          display: inline-block;
          font-size: $font-size-10;
          line-height: $line-height-7;
          color: $primary;

          @include sm {
            position: absolute;
            top: 2px;
            left: 0;
          }
        }

        &.price {
          &:before {
            content: $wallet-icon;
          }
        }
        &.comments {
          &:before {
            content: $comments-icon;
          }
        }

        &.clock {
          &:before {
            content: $clock-icon;
          }
        }
      }
    }
    .reviews {
      display: none;
      @include sm {
        display: block;
      }

      .item {
        @include clearfix;
        padding-bottom: 2.5rem;
        .img-holder {
          height: auto;
          border-radius: 50%;
          overflow: hidden;
          border: 4px solid $primary-snow;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid $gray-lighter;
          }
        }
        .text-holder {
          color: $gray;
          font-size: $font-size-base;
          line-height: rem(22)  / $font-size-base;
          .text {
            font-family: $font-family-base;

            .autor {
              font-family: $font-family-bold;
              font-weight: 900;
            }

            .more {
              text-decoration: underline;
              &:after {
                display: inline-block;
                font-family: $font-family-icomoon;
                content: $angle-right-icon;
                padding-left: 0.5rem;
                transform: translateY(2);
              }
            }
          }

          .subtitle {
            font-family: $font-family-semibold;
            padding: 1rem 0;
            font-weight: 700;
          }
        }
      }
    }
  }
  .banner {
    padding: 2rem 9.1667rem;
    background: $primary-lighten;
    margin-bottom: 1.167rem;

    display: none;
    @include sm {
      display: block;
    }

    .logo {
      width: 19.167rem;
      height: 5.25rem;
      background: url(/images/banner-logo-1.png) no-repeat;
      display: inline-block;
      float: left;
      a {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: 9999px;
      }
    }
    .text {
      text-align: center;
      padding: 2rem 0;
      .slogan {
        font-family: $font-family-bold;
        font-weight: bold;
        font-size: $font-size-6;
        line-height: $line-height-3;
        color: $primary-snow;

        .more {
          font-family: $font-family-base;
          font-weight: normal;
          display: inline-block;
          margin-left: 3.6667rem;
          text-decoration: underline;
          color: $primary-snow;
          font-size: $font-size-base;
          line-height: $line-height-base;

          &:hover {
            text-decoration: none;
          }

          &:after {
            display: inline-block;
            font-family: $font-family-icomoon;
            content: $angle-right-icon;
            padding-left: 0.5rem;
            transform: translateY(2);
          }
        }
      }
    }
  }
  .links-holder {
    @include clearfix;
    padding-bottom: 3rem;
    text-align: center;
    background: #fcfcfc;


    max-height: 50rem;
    overflow: hidden;
    position: relative;
    will-change: max-height;
    transition: max-height 0.25s ease-out;
    

    @include sm {
      max-height: 100%;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5rem;
      content: '';
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
      display: block;

      @include sm {
        display: none;
      }

    }

    &.show {
      max-height: 200rem;
      will-change: max-height;
      transition: max-height 0.45s ease-in;
      &:after {
        display: none;
      }
    }

    @include sm {
      text-align: left;
    }
    .title {
      margin: 0;
      padding: 2.5rem 0;
      text-align: center;
      text-transform: uppercase;
      color: $gray;
      font-family: $font-family-bold;
      font-size: $font-size-10;
      line-height: 1.2;
      font-weight: bold;

      @include sm {
        padding: 5.167rem 0;
      }
    }
    .links {
      margin: 0;
      padding: 0 1rem;

      @include sm {
        text-align: center;
        padding: 0;
      }

      .item-link {

        display: block;
        padding-bottom: 1px;
        position: relative;

        @include sm {
          display: inline-block;
          width: 24%;
          text-align: left;
        }

        a {
          border: 1px solid transparent;
          display: block;
          padding: 0.833rem 1.1667rem 0.833rem 2rem;

          @include sm {
            display: inline-block;
          }

          .more {
            text-decoration: underline;
          }

          .visit {
            color: $gray-lightenen;
            padding-left: 1rem;
            text-decoration: none;
          }

          &:before {
            display: none;
            font-family: $font-family-icomoon;
            content: $angle-right-icon;
            padding-right: 0.667rem;
            color: transparent;
            position: absolute;
            top: 50%;
            margin-top: -0.6rem;
            left: 1rem;

            @include sm {
              display: block;
            }
          }

          &:hover,
          &:focus,
          &:active {
            color: $primary;

          }

          &:hover {
            border-color: $primary;
            &:before {
              color: $primary
            }
            span {
              color: $primary;
            }
            .more {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .btn-more-wrapp {
    text-align: center;
    padding: 0 0 1rem;
    display: none;





    .btn-reload {
      background: $btn-reload-bg-hover;
      color: $btn-reload-color-hover;
      border-color: $btn-reload-border-hover;

      @include sm {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }

  .collback-holder {
    display: none;

    padding: 2.5rem 0 1.5rem;
    background: $primary;
    position: relative;
    text-align: center;
    margin: 0 -15px;

    @include sm {
      background: $primary url(/images/masc.png) no-repeat center;
      padding: 4.4167rem 0 3rem;
      margin: 0;
    }

    .title {
      text-transform: uppercase;
      color: $primary-snow;
      padding: 0 2rem 2rem;
      font-size: $font-size-8;
      line-height: $line-height-4+0.3rem;
      font-family: $font-family-bold;
      font-weight: bold;

      @include sm {

        padding: 0 0 2.9rem;
      }

      &:before {
        font-family: $font-family-icomoon;
        display: block;
        font-size: $font-size-10;
        line-height: $line-height-7;
        color: inherit;
        content: $coins-icon;
        transform: translateY(4);
        padding-right: 1rem;
        margin-bottom: 1rem;
        font-weight: normal;

        @include sm {
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }
    .text {
      color: $primary-snow;
      width: 90%;
      margin: 0 auto;
      padding-bottom: 3rem;
      font-weight: normal;
      font-family: $font-family-base;
      font-size: $font-size-base;
      line-height: rem(20) / $font-size-base;

      @include sm {
        width: 50%;
      }

    }
  }

  #owl1,
  #owl2{
    display: none;
  }

  .stats-holder {
    display: none;

    padding: 3rem 0;
    background: $primary;
    @include clearfix;
    margin: 0 -15px;

    @include sm {
      background: $primary url(/images/masc.png) no-repeat center;
      padding: rem(64) 0 3rem;
      margin: 0;
    }

    .coments,
    .doctors,
    .clinics {
      text-align: center;
      color: $primary-snow;

      @include sm {
        padding-bottom: 0;
      }

      .number {
        font-size: $font-size-11;
        line-height: 1;
        padding: 2rem 0;
      }
      .description {
        text-transform: uppercase;
        font-family: $font-family-semibold;
        font-weight: 600;
        font-size: $font-size-4;
        line-height: 1;
      }

      &:before {
        font-family: $font-family-icomoon;
        font-size: $font-size-11;
        line-height: 1;
        display: block;
      }
    }

    .coments {

      padding-bottom: 3rem;
      &:before {
        content: $chat-icon;
      }
    }
    .doctors {

      padding-bottom: 3rem;
      &:before {
        content: $board-icon;
      }
    }
    .clinics {
      &:before {
        content: $domain-icon;
      }
    }

  }

  .qestion-holder {
    padding: 5.833rem 0 3.33rem;
    background: $primary;
    text-align: center;
    margin: 0 -15px;

    @include sm {
      background: $primary url(/images/masc.png) no-repeat center;
      margin: 0;
    }

    > .title {
      padding: 0 2rem;
      color: $primary-snow;
      font-family: $font-family-bold;
      font-weight: bold;
      font-size: $font-size-10;
      line-height: $line-height-7+0.5rem;
      text-transform: uppercase;
      padding-bottom: 1.333rem;

      display: none;
      @include sm {
        display: block;
      }
    }
    .description {
      font-family: $font-family-semibold;
      font-weight: 600;
      color: $primary-snow;
      font-size: $font-size-4;
      line-height: $line-height-1;

      display: none;
      @include sm {
        display: block;
      }
    }


    .command {
      margin: 0 auto;
      width: 70%;
      padding: 4.167rem 0 2.33rem;

      display: none;
      @include sm {
        display: block;
      }

      .item {
        text-align: center;
        .img-holder {
          width: 100%;
          height: auto;
          border-radius: 50%;
          overflow: hidden;
          border: 4px solid $primary-snow;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .text-holder {
          padding-top: 1.25rem;
          color: $primary-darkenen;
          .name {
            font-family: $font-family-bold;
            font-weight: bold;
            padding-bottom: 0.5rem;
            text-transform: uppercase;
          }
          .occup {
            font-size: $font-size-1;
            line-height: 1;
          }
        }

      }
    }
    .phone-holder {
      color: $primary-snow;
      .title {
        padding-bottom: 1.667rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
      .phone {
        display: block;
        font-family: $font-family-semibold;
        font-weight: 600;
        font-size: $font-size-10;
        line-height: $line-height-7;
        padding-bottom: 1rem;

        &:before {
          font-family: $font-family-icomoon;
          font-size: $font-size-8;
          line-height: $line-height-4;
          display: inline-block;
          content: $phone-icon;
          padding-right: 1rem;
        }
      }

      .callback-links {
        padding: 2rem 0;

        a {
          color: $primary-snow;
          text-decoration: underline;
          padding-left: 1rem;

          &:hover {
            text-decoration: none;
            color: $primary-snow;
          }
        }
        @include sm {
          display: none;
        }
      }

      .form-phone {
        display: none;
        @include sm {
          display: inline-block;
          width: 25rem;
        }
        .input-block-phone {
          padding-right: 8rem;
        }
        .btn-filter-warning {
          padding: 1rem 3rem;
          border: none;
        }
      }
    }
  }


}