#post {
  @include clearfix;
  .content {
    padding: 0;

    @include md{
      @include col(66%);
    }

  }

  .page-title,
  h1 {
    margin: 0;
    padding: 2rem 0 0;
    font-family: $font-family-bold;
    font-weight: bold;
    color: $gray;
    font-size: $font-size-8;
    line-height: $line-height-4;
  }

  .date {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-1;
    font-style: italic;
    color: $post-color;
    padding: 0.5rem 0;
  }
  .author {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-1;
    color: $post-color;
    padding: 0.5rem 0;
    font-style: italic;
  }

  .post-block {
    padding-top: 2rem;
    color: $gray;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-4;

    img {
      width: 100%;
      height: auto;
      padding: 2rem;
    }

    .title,
    h2 {
      padding: 1.5rem 0;
      margin: 0;
      font-family: $font-family-semibold;
      font-weight: 600;
      font-size: $font-size-5;
      line-height:$line-height-3 / $font-size-5;
    }
    .list,
    ul {
      list-style: disc;
      //margin: 0;
      padding-left: 1.5rem;
      li {
        padding-bottom: 0.5rem;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .callback-block {
    text-align: center;
    padding: 3rem 0;
    .title {
      padding-bottom: 1rem;
    }
    .phone {
      display: block;
      color: $gray;
      font-family: $font-family-semibold;
      font-weight: 600;
      font-size: $font-size-10;
      line-height: $line-height-7;

      &:before {
        font-family: $font-family-icomoon;
        font-size: $font-size-8;
        line-height: $line-height-4;
        display: inline-block;
        content: $phone-icon;
        padding-right: 1rem;
      }
    }

    .callback-links {
      padding: 1.667rem 0 0;

      a {
        color: $primary;
        text-decoration: underline;
        margin-left: 1rem;
        padding: 0 1rem 0 2rem;
        position: relative;

        &:hover,
        &:focus,
        &:active {
          color: $primary-lightenen;
          text-decoration: none;
        }


        &:before {
          font-family: $font-family-icomoon;
          display: inline-block;
          content: $headset-mic-icon;
          padding-right: 1rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
          color: $gray;
        }

        &:after {
          padding-left: 1rem;
          font-family: $font-family-icomoon;
          display: inline-block;
          content: $angle-right-icon;
          position: absolute;
          right: 0;
          top: 0.3rem;
        }

      }

    }
  }

  .sidebar {
    display: block;
    @include md {
      padding: 2.167rem 0 0 1.667rem;
      @include col(34%);
    }

    .section-title{
      &:first-child{
        padding-top: 0;
      }
    }

    .special-block {
      display: none;

      @include md {
        display: block;
      }



    }

  }

}
