#posts{

  .description-holder{
    display: none;
  }

@include clearfix;

  .content {
    padding: 0;

    @include md{
      @include col(75%);
    }

    .title {
      margin: 0;
      padding: 2rem 0;
      font-family: $font-family-bold;
      font-weight: bold;
      color: $gray;
      font-size: $font-size-8;
      line-height: $line-height-4;
    }

    .filter-holder {
      @include clearfix;
      border-bottom: 1px solid $gray-lighter;

      .result {
        color: $result-filter-color;
      }

      .title-holder {
        padding-bottom: 2rem;

        @include lg {
          float: left;
        }

        .btn-wrapp {
          @include clearfix;

          float: left;

          @include sm {
            float: none;
          }
          .subtitle {
            color: $gray-darkenen;
            padding: 0.5rem 1rem 1rem 0;
            display: block;
            @include sm {
              padding: 0.5rem 1rem 0 0;
              float: left;
            }

          }
          .item {
            display: block;
            padding-bottom: 1rem;
            @include sm {
              float: left;
              padding-bottom: 0;
            }

            a {
              display: inline-block;
            }

            margin-right: 1rem;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .filter-control {
          text-align: center;

          float: right;

          @include sm {
            display: none;
          }

          .btn-more {
            display: block;
            padding: 2rem 2rem;
            border-radius: $border-radius-base;
            border: 1px solid $state-primary-border;
            background: $state-primary-bg;
            color: $primary;
            @include state-box-shadow;

            &:after {
              display: block;
              font-family: $font-family-icomoon;
              font-size: $font-size-10;
              line-height: $line-height-7;
              text-align: center;
              padding: 1rem 0;
              content: $filter-icon;
            }

          }
          .clear {
            margin-top: 2rem;
            display: inline-block;
          }
        }
      }
      .checkbox-wrapp {
        clear: both;
        @include sm {
          clear: none;
        }

        @include lg {
          text-align: right;
          padding: 2rem 0 1rem;
        }

        padding: 0 0 1rem;
        .checkbox {
          display: inline-block;
          margin-left: 1rem;
        }
      }
    }



    .pagination{

    }

  }

  .sidebar {
    display: none;
    @include md {
      display: block;
      padding-left: 3rem;
      padding-top: 2rem;
      @include col(25%);
    }
    .special-block {
      .title {
        padding: 0 0 2rem;
        color: $primary;;
      }
      .professionals {
        font-family: $font-family-bold;
        font-weight: bold;
        padding-bottom: 1rem;
        color: $gray;
      }
      .clinics {
        color: $gray;
        padding-bottom: 1rem;
      }
    }


  }
}