%btn {
  position: relative;
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font: {
    family: $font-family-semibold;
    weight: 600;
    //weight: $font-size-base;
    //style: normal;
  }
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  //background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  white-space: nowrap;
  user-select: none;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;

  &:active,
  &.active {
    background-image: none;

  }

  &.disabled,
  &[disabled] {
    cursor: pointer;

    &:after {
      display: none;
    }
  }

}

