// Checkboxes & radio
//
%checkbox-radio {
    padding-left: 1rem;
    font-family: $font-family-base;
    margin-bottom: 1rem;
    label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 1rem;
        cursor: pointer;

        &:before,
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            margin-left: -1rem;
        }

        &:before {
            border: 2px solid $gray-darkenen;
            border-radius: $border-radius-xs;
            transition: 0.15s ease-in-out;
        }
        &:hover {
            &:before {
                border-color: $primary;
                transition: 0.15s ease-in-out;
            }
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        opacity: 0;
        z-index: 1;
        &:focus + label::before {
            outline: none;
        }
        &:disabled + label {
            &:hover {
                &:before {
                    border-color: $gray-darkenen;
                }
            }
        }
        &:checked {
            &:disabled + label {
                &:hover {
                    &:before {
                        opacity: 0.2;
                        border-color: $primary;
                    }
                }
            }
        }
        &:disabled + label {
            cursor: default;
            &:before {
                opacity: 0.2;
                cursor: default;
            }
            &:hover {
                &:before {
                    opacity: 0.2;
                }
            }
        }
    }
}

input[type="radio"] {
    &:checked {
        &:disabled + label {
            &:after{
                opacity: 0.2;
            }
        }
    }
}