%dropdown {

  position: relative;
  text-align: center;
  margin: 0 -15px;

  @include sm {
    display: inline-block;
    margin: 0;
  }

  &.show-menu {
    .dropdown-button {
      &:after {
        transform: rotate(180deg);

      }

    }
    .dropdown-select {
      display: block;
    }
  }

  .dropdown-button {
    cursor: pointer;
    font-size: $font-size-base;
    line-height: 1;
    margin: 0;
    padding: rem(15) 0;
    border-top: 2px solid $gray-lighter;
    border-bottom: 2px solid $gray-lighter;
    position: relative;

    @include sm {
      border: none;
      padding: rem(28) 0 0;
    }

    &:after {

      font-family: $font-family-icon;
      content: $angle-down-icon;
      display: inline;
      position: absolute;
      right: rem(18);
      margin: 0;
      transition: transform 0.1s;

      @include sm {
        margin: 0 0 0 0.5rem;
        position: static;
        float: right;
      }

    }

    &:before {
      display: block;
      position: absolute;
      top: 0;
      content: '';
      border-left: 2px solid $gray-lighter;
      right: rem(44);
      height: 100%;

      @include sm {
        display: none;
      }
    }

  }

  .dropdown-select {
    transition: (all 0.2s ease-in-out);
    background: $global-color;
    box-shadow: 0 10px 10px transparentize(black, 0.8);
    color: $dropdown-color;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1;
    cursor: pointer;
    display: none;
    margin: 0;
    text-align: left;


    position: absolute;

    top: 100%;
    right: 0;
    width: 100%;
    max-height: 12rem;
    overflow: auto;
    z-index: 99999;

    @include sm {
      padding: rem(5) 0;
      border: 1px solid $dropdown-border-color;
      border-radius: $border-radius-xs;
      line-height: rem(26) / $font-size-base;
      width: rem(180);
      top: $font-size-8*2;
    }

  }

  .dropdown-select li {

    list-style: none;
    padding: 1.333rem rem(21);
    border-bottom:1px solid $gray-lighter;

    @include sm{
      padding: 0 rem(21);
      border:none;
    }
  }

  .dropdown-select li:hover {
    color: $primary-snow;
    background: $dropdown-background-hover;
  }

}



// Inspired by code by www.HUSAMUI.com
