@mixin xs{
  @media screen and (min-width: #{$xs}){
    @content;
  }
}

@mixin xs-landscape{
  @media screen and (min-width: #{$xs-landscape}){
    @content;
  }
}
@mixin max-xs-landscape{
    @media screen and (max-width: #{$xs-landscape}){
        @content;
    }
}

// min-width small screen / tablets
@mixin sm{
    @media screen and (min-width: #{$sm}){
        @content;
    }
}
@mixin pre-sm{
  @media screen and (min-width: #{$pre-sm}){
    @content;
  }
}
@mixin tablet{
    @media screen and (min-width: #{$sm + 1}){
        @content;
    }
}
@mixin tablet-max{
    @media screen and (max-width: #{$sm - 1}){
        @content;
    }
}

// min-width medium screen / desktop
@mixin md{
  @media screen and (min-width: #{$md}){
    @content;
  }
}

// min-width large screen / wide desktop
@mixin lg{
  @media screen and (min-width: #{$lg}){
    @content;
  }
}
@mixin lg-2{
  @media screen and (min-width: #{$lg-2}){
    @content;
  }
}
@mixin xlg{
  @media screen and (min-width: #{$xlg}){
    @content;
  }
}
@mixin lg-hd {
  @media screen and (min-width: #{$lg-hd}){
    @content;
  }
}

//Mobile first invert
//**All media-queries -> max-width

// max-width extra small screen / phone
@mixin max-xs{
  @media screen and (max-width: #{$xs}){
    @content;
  }
}
@mixin max-xs-landscape{
  @media screen and (max-width: #{$xs-landscape}){
    @content;
  }
}

// max-width small screen / tablets
@mixin max-sm{
  @media screen and (max-width: #{$sm}){
    @content;
  }
}

@mixin max-pre-sm{
  @media screen and (max-width: #{$pre-sm}){
    @content;
  }
}

// max-width medium screen / desktop
@mixin max-md{
  @media screen and (max-width: #{$md}){
    @content;
  }
}

// max-width large screen / wide desktop
@mixin max-lg{
  @media screen and (max-width: #{$lg - 1}){
    @content;
  }
}

// max-width xlarge screen / wide desktop
@mixin max-xlg{
  @media screen and (max-width: #{$xlg}){
    @content;
  }
}

//In-between media-queries
//**All media-rules -> min-width - max-width
// in order
@mixin xs-sm{
  @media (min-width: #{$xs}) and (max-width: #{$sm}){
    @content;
  }
}

@mixin sm-md{
  @media (min-width: #{$sm}) and (max-width: #{$md}){
    @content;
  }
}


@mixin md-lg{
  @media (min-width: #{$md}) and (max-width: #{$lg}){
    @content;
  }
}

@mixin lg-xlg{
  @media (min-width: #{$lg}) and (max-width: #{$xlg}){
    @content;
  }
}


//variantly
@mixin xs-md{
  @media (min-width: #{$xs}) and (max-width: #{$md}){
    @content;
  }
}

@mixin xs-lg{
  @media (min-width: #{$xs}) and (max-width: #{$lg}){
    @content;
  }
}

@mixin xs-xlg{
  @media (min-width: #{$xs}) and (max-width: #{$xlg}){
    @content;
  }
}

@mixin sm-lg{
  @media (min-width: #{$sm}) and (max-width: #{$lg}){
    @content;
  }
}

@mixin sm-xlg{
  @media (min-width: #{$sm}) and (max-width: #{$xlg}){
    @content;
  }
}

//sm -1px
@mixin max-xs-pre{
  @media screen and (max-width: #{$xs - 1}){
    @content;
  }
}

//md -1px
@mixin max-sm-pre{
  @media screen and (max-width: #{$sm - 1}){
    @content;
  }
}

//lg -1px
@mixin max-md-pre{
  @media screen and (max-width: #{$md - 1}){
    @content;
  }
}

// Height media queries

@mixin sm-height{
    @media screen and (min-height: #{$xs-landscape + 1}){
        @content;
    }
}


// mixins for height
// iPhone 3, 4:
@mixin i4-height{
  @media screen and (device-aspect-ratio: 2/3) {
    @content;
  }
}

// iPhone 5:
@mixin i5-height {
  @media screen and (device-aspect-ratio: 40/71) {
    @content;
  }
}

// iPhone 6:
@mixin i6-height {
  @media screen and (device-aspect-ratio: 375/667) {
    @content;
  }
}

// iPhone 6 Plus:
@mixin i6-plus-height {
  @media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3) and (-webkit-device-pixel-ratio : 3) {
    @content;
  }
}

// laptops
@mixin laptop-height{
  @media screen and (min-height:585px) and (max-height:700px) and (min-width:#{$lg}){
    @content;
  }
}

//bootstrap container


//@include xs{
//  .container{
//    max-width:$xs;
//  }
//}
//
//@include sm{
//  .container{
//    max-width:$sm;
//  }
//}
//
//@include md{
//  .container{
//    max-width:$md;
//  }
//}
//
//@include lg{
//  .container{
//    max-width:$lg;
//    padding: 0 $container-lg-padding;
//  }
//}