.actions-list-sidebar {

  .item {
    border-bottom: 1px solid $gray-lighter;
    padding-top:rem(22);

    //layout
    .column-wrapp{
      padding-bottom:rem(20);

      @include clearfix;

      .img-holder{
        @include col(50/230*100%);
      }

      .info-holder{
        @include col(180/230*100%);
        padding-left:rem(20);
      }

    }

    .item-title{
      padding-bottom:rem(16);
    }

    .price-holder{
      margin-bottom:rem(22);
    }
    //end layout

    .img-holder {
      text-align: center;
      img {
        max-width: 100%;
        border-radius: $border-radius-xs;
        border:1px solid $gray-lighter;
      }

    }

    .info-holder {
      padding: rem(5) 0 0;
      color: $gray;
      font-family:$font-family-base;

      .category,
      .item-name{
        font-size:$font-size-2;
        line-height: rem(20)/$font-size-2;

      }

      .item-name {
        font-family:$font-family-bold;
        font-weight: bold;
      }

      .category {
        color: $secondary;
      }

    }

    .item-title {
      color: $primary;
      text-decoration: none;
      font-family: $font-family-semibold;
      font-weight: 600;
      font-size: $font-size-4;
      line-height: rem(20)/$font-size-4;

      a {

        &:hover,
        &:focus,
        &:active {
          color: $primary;
          text-decoration: underline;
        }

      }
    }

    .price-holder{
      padding:rem(18) 0;
      text-align: center;
      border:1px dashed $secondary-dark;
      border-radius: $border-radius-base;
      background: $primary-snow;

      .price {

        .number {
          padding: 0 0.5rem 0 1rem;
          font-family: $font-family-bold;
          font-weight: bold;
          font-size: $font-size-8;
          line-height: $line-height-4;

        }

        .price-action {
          display: none;
        }

        &.action {
          position: relative;
          display: inline-block;
          .price-number {
            position: absolute;
            right: 1.5rem;
            top: -1.2rem;

            @include sm{
              position: relative;
              margin-left: 1rem;
              padding-left: 0.333rem;
              top: 0;
              right: 0;
            }

            .number {
              padding: 0;
              font-family: $font-family-bold;
              font-weight: bold;
              font-size: $font-size-4;
              line-height: $line-height-1;

            }

            &:after {
              position: absolute;
              bottom: 0.5rem;
              right: 0;
              width: 100%;
              content: '';
              border-top: 1px solid $gray;

              @include sm{
                bottom: 0.7rem;
              }

            }
          }
          .price-action {
            display: inline;
            color: $result-filter-color;
          }

        }

      }

    }






  }
}
