.doctors-list-sidebar {
  @include clearfix;

  .item {
    @include clearfix;
    padding: 1.667rem;
    border-bottom: 1px solid $gray-lighter;
    display: block;
    width: 100%;

    .img-holder {
      width: 40%;
      float: left;
      overflow: hidden;
      border-radius: $border-radius-base;

      img {
        width: 100%;
        height: 100%;
        border-radius: $border-radius-base;
        border:1px solid $gray-lighter;
      }


    }

    .text-holder {
      float: right;
      width: 60%;
      padding-left: 1.667rem;
      .title {
        border: none;
        font-family: $font-family-semibold;
        font-size: $font-size-3;
        line-height: $line-height-3;
        color: $primary-lightenen;
        font-weight: 600;
        padding: 0;


        a {
          font-family: $font-family-semibold;
          font-size: $font-size-3;
          color: $primary-lightenen;
          font-weight: 600;
          line-height:1;
          text-decoration: none;
          position: relative;

          &:hover,
          &:focus,
          &:active {
            color: $primary-lightenen;
            text-decoration: underline;
          }

          &:after {
            display: block;
            position: absolute;
            right: -1rem;
            bottom: 3px;
            font-size:inherit;
            line-height: 1;
            font-family: $font-family-icomoon;
            content: $angle-right-icon;
          }
        }
      }

    }
    .description {
      padding: 1.33rem 0;
      font-size: $font-size-2;
      line-height: $line-height-3;
      max-height: 12rem;
      overflow: hidden;
    }
    .more {

      a {
        display: inline-block;
        color: $primary-lightenen;
        font-size: $font-size-base;
        line-height:1;
        text-decoration: none;
        text-align: center;
        position: relative;

        &:hover,
        &:focus,
        &:active {
          color: $primary-lightenen;
          text-decoration: underline;
        }

        &:after {
          display: block;
          position: absolute;
          right: -1rem;
          bottom: 0;
          font-size:inherit;
          line-height: 1;
          font-family: $font-family-icomoon;
          content: $angle-right-icon;
        }
      }
    }
  }
}
