.sidebar{
  .section-title {
    padding: 2.176rem 0;
    font-family: $font-family-semibold;
    font-weight: 600;
    font-size: $font-size-5;
    line-height:$line-height-4 / $font-size-5;
    color: $gray;
    border-bottom: 1px solid $gray-lighter;


    //&:first-child{
    //  padding-top: 0;
    //}
  }
}