.sidebar-location-block {
  display: none;
  border: 1px solid $gray-lighter;

  @include md {
    display: block;
  }

  .map-holder {
    max-height: 14.167rem;
    height: 14.167rem;
    overflow: hidden;
    a {
      width: 100%;
      img {
        width: auto;
        height: 100%;
      }
    }

  }

  .address-holder {
    padding: 1.667rem 1.667rem 1.667rem 3.833rem;
    color: $gray-darkenen;

    .address {
      padding-bottom: 1rem;
      position: relative;
      font-size: $font-size-base;
      line-height: $line-height-5;
      color: $primary-lightenen;
      display: inline;
      @include after-icon($angle-right-icon, -2px);

      &:before {
        font-size: $font-size-4;
        line-height: $line-height-1;
        position: absolute;
        left: -2.333rem;
        top: 0.2rem;
        font-family: $font-family-icomoon;
        display: inline-block;
        content: $place2-icon;
        color: $primary;
      }

      a {

        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
          color: $primary-lightenen;
          text-decoration: none;
        }

      }
    }

    .metro-wrapp {
      padding-top: 1rem;

      .area {
        padding-right: 1rem;
      }

      .metro {
        padding: 0 1rem 0 2.5rem;
        position: relative;
        line-height: $line-height-4;

        &:before {
          position: absolute;
          left: 0;
          top: 0.2rem;
          display: block;
          width: 18px;
          height: 17px;
          font-family: $font-family-icomoon;
          border-radius: $border-radius-xs;
          color: $primary-snow;
          content: '';
          background: url(/images/metro-icon.png) center no-repeat;

        }

        &.red {
          &:before {
            background-position: 0 0;
          }
        }

        &.green {
          &:before {
            background-position: -20px 0;
          }
        }

        &.blue {
          &:before {
            background-position: -40px 0;
          }
        }
      }
    }
  }
}
