.sidebar-filter-title {
  padding: 0.667rem 0 0.6rem 0;
  font-family: $font-family-bold;
  font-weight: bold;
  font-size: $font-size-5;
  line-height: 1em;
  color: $gray;
}

.sidebar-filter {

  .links-holder {
    @include clearfix;
    padding-bottom: 3rem;
    text-align: center;

    max-height: 50rem;
    overflow: hidden;
    position: relative;
    will-change: max-height;
    transition: max-height 0.25s ease-out;

    @include sm {
      max-height: 100%;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5rem;
      content: '';
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
      display: block;

      @include sm {
        display: none;
      }

    }

    &.show {
      max-height: 200rem;
      will-change: max-height;
      transition: max-height 0.45s ease-in;
      &:after {
        display: none;
      }
    }

    @include sm {
      text-align: left;
    }
    .title {
      margin: 0;
      padding: 2.5rem 0;
      text-align: center;
      text-transform: uppercase;
      color: $gray;
      font-family: $font-family-bold;
      font-size: $font-size-8;
      line-height: $line-height-4;
      font-weight: bold;

      @include sm {
        padding: 5.167rem 0;
      }
    }
    .links {
      margin: 0;
      padding: 0 1rem;

      @include sm {
        text-align: center;
        padding: 0;
      }

      .item-link {

        display: block;
        padding-bottom: 1px;
        position: relative;

        @include sm {
          display: inline-block;
          width: 100%;
          text-align: left;
        }

        a {
          border: 1px solid transparent;
          display: block;
          padding: 0.833rem 1.1667rem 0.833rem 2rem;

          @include sm {
            display: inline-block;
          }

          .more {
            text-decoration: underline;
          }

          .visit {
            color: $gray-lightenen;
            padding-left: 1rem;
            text-decoration: none;
          }

          &:before {
            display: none;
            font-family: $font-family-icomoon;
            content: $angle-right-icon;
            padding-right: 0.667rem;
            color: transparent;
            position: absolute;
            top: 50%;
            margin-top: -0.6rem;
            left: 1rem;

            @include sm {
              display: block;
            }
          }

          &:hover,
          &:focus,
          &:active {
            color: $primary;

          }

          &:hover {
            border-color: $primary;
            &:before {
              color: $primary
            }
            span {
              color: $primary;
            }
            .more {
              text-decoration: none;
            }
          }
        }
        &.active {
          margin: 3px 0;
          a {
            border-color: $primary;
            background: $primary;
            &:before {
              color: $primary-snow;
            }
            span {
              color: $primary-snow;
            }
            .more {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}


