.special-block-doctors {
  .title {
    color: $primary;;
    font-family:$font-family-base;
    font-size:$font-size-base;
    font-weight: normal;
    padding-bottom: 0;
  }
  .professionals {
    font-family: $font-family-bold;
    font-size:$font-size-5;
    line-height: 1em;
    font-weight: bold;
    padding: rem(26) 0 rem(14) 0;
    color: $gray;
  }
  .clinics {
    color: $gray;
    padding-bottom: rem(22);
    font-size:$font-size-base;
    line-height:$line-height-3;
  }
  .doctors {
    @include clearfix;

    .item {
      float: left;
      width: 50%;
      margin-bottom: 1.5rem;

      .img-holder {

        overflow: hidden;
        border-radius: $border-radius-base;

        img {
          width: 100%;
          height: 100%;
        }

      }
      &:nth-child(n) {
        padding: 0 1rem 0 0;

      }
      &:nth-child(2n) {
        padding: 0 0 0 1rem;

      }

      &.more {
        a {
          border: 1px solid $primary;
          border-radius: $border-radius-base;
          font-size:$font-size-base;
          line-height:$line-height-3;
          height: 0;
          padding: 45% 0.5rem 85%;
          display: block;
          color: $primary;
          text-decoration: underline;

          text-align: center;

          &:hover,
          &:focus,
          &:active {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }
  }
}