.special-block-clinics {
  .title {
    padding: 0 0 2rem 0;
    font-family: $font-family-bold;
    font-weight: bold;
    color: $gray;
    font-size:$font-size-5;
    line-height:$line-height-4 / $font-size-5;


  }
  .clinics {
    padding-bottom: 2rem;
    .item {
      .img-holder {
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
      .text-holder {
        padding: 1.667rem;
        background: $enroll-bg;

        .title {
          padding-bottom: 1rem;
          color: $primary;
          text-decoration: none;
          font-family: $font-family-semibold;
          font-weight: bold;
          font-size:$font-size-3;
          line-height: $font-size-5 / $font-size-3;

          a {
            &:hover,
            &:focus,
            &:active {
              color: $primary;
              text-decoration: underline;
            }
          }
        }

        .description {
          padding: 0 0 1rem 0;
          color: $gray;
          font-size:$font-size-2;
          line-height: $line-height-3 / $font-size-2;
        }

        .more {
          @include after-icon();
          display: inline-block;
          color: $primary;
          text-decoration: none;
          font-family: $font-family-base;
          font-weight: bold;
          font-size: $font-size-base;
          line-height: $line-height-3 / $font-size-base;

          a {
            &:hover,
            &:focus,
            &:active {
              color: $primary;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }



}
