.special-block-actions {
  .item {
    border-bottom: 1px solid $gray-lighter;
    padding-top: rem(22);

    //layout
    .column-wrapp {
      @include clearfix;
      padding-bottom: rem(24);

      .column-left {
        @include col(90/230*100%);
      }
      .column-right {
        @include col(140/230*100%);
        padding: rem(15) 0 0 rem(18);
      }
    }

    .info-holder {
      padding-bottom: rem(24);
    }

    .more {
      padding-bottom: rem(28);
    }
    //end layout

    .img-holder {
      text-align: center;
      img {
        max-width: 100%;
        border: 1px solid $gray-lighter;
        border-radius: $border-radius-base;
      }
    }

    .info-holder{
      font-family: $font-family-base;
      font-size:$font-size-2;
      line-height: 1.1;
      color: $gray;
      padding-bottom: 1rem;

      .category,
      .experience,
      .price{
        padding-bottom:rem(14);
      }

      .price {

        .number {
          padding: 0 0.5rem 0 1rem;
          font-family: $font-family-bold;
          font-weight: bold;
          font-size: $font-size-5;
          line-height: 1;

        }

        .price-action {
          display: none;
        }

        &.action {
          position: relative;
          display: inline-block;
          .price-number {
            position: absolute;
            right: 1.5rem;
            top: -1.2rem;

            @include sm{
              position: relative;
              margin-left: 1rem;
              padding-left: 0.333rem;
              top: 0;
              right: 0;
            }

            .number {
              padding: 0;
              font-family: $font-family-bold;
              font-weight: bold;
              font-size: $font-size-4;
              line-height: $line-height-1;

            }

            &:after {
              position: absolute;
              bottom: 0.5rem;
              right: 0;
              width: 100%;
              content: '';
              border-top: 1px solid $gray;

              @include sm{
                bottom: 0.7rem;
              }

            }
          }
          .price-action {
            display: inline;
            color: $result-filter-color;
          }

        }

      }


    }

    .item-title {
      padding-bottom: 1rem;
      a {
        color: $primary;
        font-family: $font-family-semibold;
        font-weight: 600;
        font-size: $font-size-3;
        line-height: rem(20)/$font-size-3;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          color: $primary;
          text-decoration: underline;
        }
      }
    }
    .rating-block {
      padding-bottom: 1rem;
      .rating {
        display: inline;

        li {
          &:last-child {
            padding-right: rem(5);
          }

          &:before{
            font-size:$font-size-4;
            line-height: 1;
          }
        }
      }
      .number {
        display: inline-block;
        color: $rating-text-color;
        font-size: $font-size-6;
        line-height: 1;
        font-weight: bold;
        font-family: $font-family-bold;
      }

    }

    .comments {
      padding: 0;
      a {
        color: $primary;
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
          color: $primary;
          text-decoration: none;
        }
      }
    }

    .more {
      a {
        @include after-icon();
        color: $primary;
        text-decoration: none;
        font-family: $font-family-base;
        font-weight: bold;
        font-size: $font-size-base;
        line-height: 1.1;

        &:hover,
        &:focus,
        &:active {
          color: $primary;
          text-decoration: underline;
        }
      }
    }


  }

}


