@font-face {
    font-family: 'FontAwesome';
    src:    url('./../fonts/font-awesome-4.5.0/fontawesome-webfont.woff2') format('woff2'),
            url('./../fonts/font-awesome-4.5.0/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'icomoon';
    src:  url('./../fonts/icomoon/icomoon.woff') format('woff'),
          url('./../fonts/icomoon/icomoon.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


//@font-face {
//  font-family: 'icomoon';
//  src:url('./../fonts/icomoon.eot?m8nvjy');
//  src:url('./../fonts/icomoon.eot?m8nvjy#iefix') format('embedded-opentype'),
//  url('./../fonts/icomoon.ttf?m8nvjy') format('truetype'),
//  url('./../fonts/icomoon.woff?m8nvjy') format('woff'),
//  url('./../fonts/icomoon.svg?m8nvjy#icomoon') format('svg');
//}



//Font family base
@font-face {
    font-family: 'OpenSans Regular';
    src: url('./../fonts/Open_Sans/opensans-regular-webfont.woff2') format('woff2'),
    url('./../fonts/Open_Sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// bold
@font-face {
  font-family: 'OpenSans Bold';
  src: url('./../fonts/Open_Sans/opensans-bold-webfont.woff2') format('woff2'),
  url('./../fonts/Open_Sans/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

// semi-bold
@font-face {
  font-family: 'OpenSans Semi-bold';
  src: url('./../fonts/Open_Sans/opensans-semibold-webfont.woff2') format('woff2'),
  url('./../fonts/Open_Sans/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

// italic
@font-face {
  font-family: 'OpenSans Italic';
  src: url('./../fonts/Open_Sans/opensans-italic-webfont.woff2') format('woff2'),
  url('.././fonts/Open_Sans/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

