<header id="header">
    <div class="top-holder">
        <div class="container">
            <div class="phone"><span class="icon-phone">+380 (044) 220-70-70</span></div>
            <div class="mail"><span class="icon-mail">info@sineozerniy.com.ua</span></div>
            <div class="regim">
                <p class="icon-clock">пн-пт. : 09.00 - 20.00</p>
                <p>cб-вс. : 10.00 - 18.00</p>
            </div>
        </div>
    </div>
</header>
<!--end Header-->
{{outlet}}

<footer id="footer">
    <div class="container">
        <div class="info"><strong class="logo"><a href="#" style="background:url(./img/logo.png) no-repeat center center /cover"></a></strong>
            <div class="contacts">
                <h4 class="title">Контактная информация</h4>
                <div class="adress"><span class="icon-map">   Киев, пересечение проспектов Правды,102 и Георгия Гонгадзе, 3</span></div>
                <div class="phone"><span class="icon-phone">   +380 (044) 220-70-70</span></div>
                <div class="mail"><span class="icon-mail">   info@sineozerniy.com.ua</span></div>
                <div class="regim"><span class="icon-clock">    пн-пт. : 09.00 - 20.00</span>
                    <p>cб-вс. : 10.00 - 18.00</p>
                </div>
            </div>
        </div>
        <div class="form-column">
            <div class="form-holder">
                <h4 class="title">Заявка на просмотр</h4>
                <form action="#">
                    <input placeholder="Ваше имя">
                    <input placeholder="Телефон">
                    <textarea placeholder="Желаемая дата встречи и другие вопросы"></textarea>
                    <button type="submit">Отправить заявку</button>
                </form>
            </div>
        </div>
        <div class="rcl">Создание сайта: Студия Reclamare</div>
    </div>
</footer>
