
<div id="main">
    <section style="background:url(./img/banner.png) no-repeat center center /cover" class="banner">
        <div class="logo"><a href="#" style="background:url(./img/logo.png) no-repeat center center /cover"></a></div>
    </section>
    <!--end banner-->
    <div class="news-holder">
        {{#each model as |postUnit|}}
            {{post-listing post=postUnit}}
        {{/each}}
    </div>
    <div class="pagination">
        <ul>
            <li class="page-prev"><a href="#">←</a></li>
            <li>
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </li>
            <li class="page-next"><a href="#">→</a></li>
        </ul>
    </div>
</div>



{{outlet}}
