


<div id="main" class="news-page">
    <section style="background:url(./img/banner_news-page.png) no-repeat center center /cover" class="banner">
        <div class="logo"><a href="#" style="background:url(./img/logo.png) no-repeat center center /cover"></a></div>
        <h2 class="news-title">{{post.title}}</h2>
        <div class="date-wr">
            <time class="date">
                <p>sdfaaaaaaa</p>
            </time>
        </div>
    </section>
    <!--end banner-->
    <div class="news-holder">
        {{post.body}}
    </div>
</div>


{{outlet}}
